

<main>

  <section id="bg" class="pb-5"></section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
     BOLT ERP
    </h1>
    <p>
      Enterprise Resource Planning (ERP), it’s a software that merges different modules into one complete system that streamline process and information across the entire organization.
      These core constructs are then interconnected with business processes driven by workflows across business departments
      (e.g., Finance, Inventory, human resources, CRM, marketing, operations), connecting systems and the people who use them.

    </p>
  </section>
  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="BetterReporting"></div>

          <h2>Better Reporting</h2>
          <p>
            A significant part of wastefulness in operational work originates from improper reporting.
           
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">
          <div class="DataQuality"></div>

          <h2>Data Quality</h2>
          <p>
            ERP system improves data quality by improving the underlying process,
            as result it makes a better decision than the traditional approach.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="BusinessAnalytics"></div>

          <h2>Business Analytics</h2>
          <p>
            having high-quality data gives the business the power of intelligent analytics tools to arrive at
            better business decision.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="Scalability"></div>

          <h2>Scalability</h2>
          <p>
            ERP system is easily upgradeable, which means that it can add new features to the system as the business needs, this leads to easy management of new features.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">
          <div class="lowerCost"></div>
          <h2>Lower cost of operations</h2>
          <p>
            introduces base innovation in managing resources, which eliminates delays and this leads
            to reduction- the cost of operations.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="ImprovedCRM"></div>

          <h2>Improved CRM</h2>
          <p>
            the direct benefit of using a good ERP system is improved customer relations as a result of better business process.
          </p>
        </div>
      </div>


    </div>
  </section>
</main>

