<main>

  <section id="bg" class="pb-5">

    <div id="content">
      <h1>Mobile Application</h1>
      <p>{{langHelper.header.mainParagraph}}</p>
      <p>{{langHelper.header.mainParagraph2}}</p>
    </div>
    <img data-aos="fade-left" data-aos-duration="1000" class="img-fluid" src="./assets/img/mobile.png" />
  </section>

  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">
          <div class="iconBenefit1 benefitImg"></div>
          <h2>{{langHelper.cards.card1.title}}</h2>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">
          <div class="iconBenefit2 benefitImg"></div>
          <h2>{{langHelper.cards.card2.title}}</h2>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">
          <div class="iconBenefit3 benefitImg"></div>
          <h2>{{langHelper.cards.card3.title}}</h2>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">
          <div class="iconBenefit4 benefitImg"></div>
          <h2>{{langHelper.cards.card4.title}}</h2>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">
          <div class="iconBenefit5 benefitImg"></div>
          <h2>{{langHelper.cards.card5.title}}</h2>
        </div>
      </div>
    </div>
  </section>
</main>
