

<main>

<section id="bg" class="pb-5">

  <div id="content">
    <h1>Mobile Application</h1>
    <p >
      Far far away, behind the word
      mountains, far from the countries
      Vokalia and Consonantia, there
      live the blind.
    </p>
  </div>
</section>

  <section class="p-4" id="desc">
    <h1>
      Mobile Application
    </h1>
    <p>
      Far far away, behind the word mountains, far from the countriesFar far away, behind the word mountains, far from the countries
      Vokalia and Consonantia, there live the blind. Vokalia and Consonantia, there live the blind. Far far away, behind the word
      mountains, far from the countries Vokalia and Consonantia, there live the blind.Far far away, behind the word mountains, far
      from the countries Vokalia and Consonantia, there live the blind. Far far away, behind the word mountains, far from the countries
      Vokalia and Consonantia, there live the blind.Far far away, behind the word mountains, far from the countries
      Vokalia and Consonantia, there live the blind.

    </p>
  </section>
  <section id="benefits" class="p-4">
    <h1>Benefits & Features</h1>
    <div class="row">
      <div class="col-12 col-lg-4 text-center p-5">
        <img src="./assets/img/icons/icon2.png" />
        <h2>Responsive Layout</h2>
        <p>
          Instant payment is one of the more
          impressive things QR codes can do.
        </p>
      </div>

      <div class="col-12 col-lg-4 text-center p-5">
        <img src="./assets/img/icons/icon3.png" />
        <h2>Responsive Layout</h2>
        <p>
          Instant payment is one of the more
          impressive things QR codes can do.
        </p>
      </div>

      <div class="col-12 col-lg-4 text-center p-5">
        <img src="./assets/img/icons/icon1.png" />
        <h2>Responsive Layout</h2>
        <p>
          Instant payment is one of the more
          impressive things QR codes can do.
        </p>
      </div>

      <div class="col-12 col-lg-4 text-center p-5">
        <img src="./assets/img/icons/icon2.png" />
        <h2>Responsive Layout</h2>
        <p>
          Instant payment is one of the more
          impressive things QR codes can do.
        </p>
      </div>

    </div>
  </section>
</main>
