

<main>

<section id="bg" class="pb-5">

  <div id="content">
    <h1>Mobile Application</h1>
    <p >
      Far far away, behind the word
      mountains, far from the countries
      Vokalia and Consonantia, there
      live the blind.
    </p>
  </div>
  <img data-aos="fade-left" data-aos-duration="1000" class="img-fluid" src="./assets/img/mobile.png"/>
</section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      Mobile Application
    </h1>
    <p>
      A mobile application is a computer program or software application designed to run on a mobile device such as a phone or tablet.
      Apps are generally downloaded from application distribution platforms that are operating by the owner of the mobile operating system,
      such as the App Store (iOS) and Google Play Store(Android).

    </p>
  </section>
  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4" >
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>Make it easy for your user</h2>
          <p>
            Mobile Apps are faster, will use personalized
            content which will build a rapport between you and your customers,
            they will have instant online and offline access.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Push Notifications and instant updates</h2>
          <p>
            remind your users of your latest updates.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Indirect marketing</h2>
          <p>
            your application is integrated with your social media channels.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Unique experience</h2>
          <p>
            provide your customers with a simple application,
            with high speed, good image resolution, search options, and high security
          </p>
        </div>
      </div>

    


    </div>
  </section>
</main>
