main {
  background-color: #d6d9e6;

  .textAlignRight{
    text-align: right !important;
    font-family: 'Cairo-Regular', sans-serif;
  }
  h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
  }

  p {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
  }

  #bg {
    background: url("../../../../assets/img/client_bg.png") no-repeat 0 0;
    height: 100vh;
    position: relative;
  }

  #content {
    padding: 30px;
  }

  img {
    position: absolute;
    width: 150px;
  }
}

#logo-1 {
  width: 230px;
  top: 28px;
  left: -22px;
}

#logo-2 {
  width: 168px;
  top: 65px;
  left: 238px;
}


#logo-3 {
  width: 180px;
  top: 245px;
  left: 111px;
}

#logo-4 {
  width: 201px;
  top: 126px;
  left: 500px;
}

#logo-5 {
  width: 134px;
  top: 135px;
  left: 277px;
}

#logo-6 {
  width: 173px;
  top: 292px;
  left: 538px;
}

#logo-7 {
  width: 186px;
  top: 380px;
  left: 240px;
}

#logo-8 {
  width: 180px;
  top: 257px;
  left: 349px;
}


#logo-9 {
  width: 170px;
  top: 240px;
  left: 150px;
}


#logo-10 {
  width: 160px;
  top: 390px;
  left: 538px;
}


@media screen and (max-width: 700px) {

 
  #content {

    h1 {
      font-size: 26px;
      line-height: normal;
    }

    p {
      font-size: 16px;
    }

  }
    .mt-5 {
      margin-top:0 !important;
    }
  #bg {
    background-size: contain !important;
    height: 40vh !important;
  }

  #logo-1 {
    width: 80px;
    top: 16px;
    left: -5px;
  }

  #logo-2 {
    width: 60px;
    top: 32px;
    left: 97px;
  }


  #logo-3 {
    width: 72px;
    top: 73px;
    left: 26px;
  }


  #logo-4 {
    width: 86px;
    top: 23px;
    left: 187px;
  }

  #logo-5 {
    width: 62px;
    top: 132px;
    left: 177px;
  }

  #logo-6 {
    width: 84px;
    top: 72px;
    left: 194px;
  }

  #logo-7 {
    width: 77px;
    top: 124px;
    left: 72px;
  }

  #logo-8 {
    width: 68px;
    top: 64px;
    left: 117px;
  }


  #logo-9 {
    width: 68px;
    top: 82px;
    left: 52px;
  }


  #logo-10 {
    width: 70px;
    top: 136px;
    left: 199px;
  }

}


@media screen and (max-width: 399px) {
  #logo-1 {
    width: 80px;
    top: 16px;
    left: -5px;
  }

  #logo-2 {
    width: 60px;
    top: 32px;
    left: 97px;
  }


  #logo-3 {
    width: 72px;
    top: 73px;
    left: 26px;
  }


  #logo-4 {
    width: 45px;
    top: 46px;
    left: 184px;
  }

  #logo-5 {
    width: 45px;
    top: 126px;
    left: 147px;
  }

  #logo-6 {
    width: 86px;
    top: 72px;
    left: 176px;
  }

  #logo-7 {
    width: 67px;
    top: 108px;
    left: 63px;
  }

  #logo-8 {
    width: 60px;
    top: 64px;
    left: 117px;
  }


  #logo-9 {
    width: 68px;
    top: 82px;
    left: 52px;
  }


  #logo-10 {
    width: 70px;
    top: 136px;
    left: 199px;
  }

}
