<main>

  <div class="col-12 col-lg-10" id="content">

    <h1>We are proud to share our clients</h1>
    <p>
      we reach our business goals via in-depth communication and trust with our clients, we build rapport with them to meet their requirements ultimately reaching
      a close partnership together for future repeat business.
    </p>
  </div>
  <section class="mt-5 pb-5">
    <div id="bg" >
      <img data-aos="fade-right" id="logo-1" src="./assets/designer-assets/logos default/bolt.png" />
      <img data-aos="fade-right" id="logo-2" src="./assets/designer-assets/logos default/Magento.png" />
      <img data-aos="fade-right" id="logo-3" src="./assets/designer-assets/logos default/Sandwitsh.png" />
      <img data-aos="fade-right" id="logo-4" src="./assets/designer-assets/logos default/Untitled-1-01.png" />
      <img data-aos="fade-right" id="logo-5" src="./assets/designer-assets/logos default/vicorva.png" />
      <img data-aos="fade-right" id="logo-6" src="./assets/designer-assets/logos default/woocommerce-logo (1).png" />
      <img data-aos="fade-right" id="logo-7" src="./assets/designer-assets/logos default/bolt.png" />
      <img data-aos="fade-right" id="logo-8" src="./assets/designer-assets/logos default/vicorva.png" />
      <img data-aos="fade-right" id="logo-9" src="./assets/designer-assets/logos default/fawry-ar1.png" />
      <img data-aos="fade-right" id="logo-10" src="./assets/designer-assets/logos default/Magento.png" />

    </div>
  </section>
</main>
