main {
  background-color: #d6d9e6;


  h1 {
    font-family: SitkaHeading;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
  }

  p {
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
  }

  #bg {
    background: url("../../../../assets/img/client_bg.png") no-repeat 0 0;
    height: 65vh;
    position: relative;
  }

  #content {
    padding: 30px;
  }

  img {
    position: absolute;
    width: 150px;
  
  }

}

#logo-1 {
  width: 230px;
  top: 28px;
  left: -22px;
}

#logo-2 {
  width: 160px;
  top: 65px;
  left: 259px;
}


#logo-3 {
  width: 180px;
  top: 116px;
  left: 42px;
}

#logo-4 {
  width: 110px;
  top: 126px;
  left: 500px;
}

#logo-5 {
  width: 160px;
  top: 220px;
  left: 349px;
}

#logo-6 {
  width: 200px;
  top: 240px;
  left: 538px;
}

#logo-7 {
  width: 230px;
  top: 380px;
  left: 240px;
}

#logo-8 {
  width: 180px;
  top: 104px;
  left: 238px;
}


#logo-9 {
  width: 170px;
  top: 240px;
  left: 150px;
}


#logo-10 {
  width: 160px;
  top: 390px;
  left: 538px;
}


