<main dir="{{direction}}">

  <div class="col-12 col-lg-10" id="content">

    <h1 class="{{langHelper.textAlignStyle}}">{{langHelper.h1}}</h1>
    <p class="{{langHelper.textAlignStyle}}">
     {{langHelper.p}}
    </p>
  </div>
  <section class="">
    <div id="bg" >
      <img data-aos="fade-right" id="logo-1" src="./assets/clientlogos/fab.png" />
      <img data-aos="fade-right" id="logo-2" src="./assets/clientlogos/just to pay logo.png" />
      <img data-aos="fade-right" id="logo-3" src="./assets/clientlogos/logo.png" />
      <img data-aos="fade-right" id="logo-4" src="./assets/clientlogos/medrar.png" />
      <img data-aos="fade-right" id="logo-5" src="./assets/clientlogos/Picture1.png" />
      <img data-aos="fade-right" id="logo-6" src="./assets/clientlogos/vicorva.png" />
      <img data-aos="fade-right" id="logo-7" src="./assets/clientlogos/Sandwitsh.png" />
      <img data-aos="fade-right" id="logo-8" src="./assets/clientlogos/Nlogo.png" />

    </div>
  </section>
</main>
