<main dir="{{direction}}">

  <div class="col-12 col-lg-10" id="content">

    <h1 class="{{langHelper.textAlignStyle}}">{{langHelper.h1}}</h1>
    <p class="{{langHelper.textAlignStyle}}">
     {{langHelper.p}}
    </p>
  </div>
  <section class="">
    <div id="bg" >
      <img data-aos="fade-right" id="logo-1" src="./assets/designer-assets/logos default/bolt.png" />
      <img data-aos="fade-right" id="logo-2" src="./assets/designer-assets/logos default/Magento.png" />
      <img data-aos="fade-right" id="logo-3" src="./assets/designer-assets/logos default/Sandwitsh.png" />
      <img data-aos="fade-right" id="logo-4" src="./assets/designer-assets/logos default/Untitled-1-01.png" />
      <img data-aos="fade-right" id="logo-5" src="./assets/designer-assets/logos default/vicorva.png" />
      <img data-aos="fade-right" id="logo-6" src="./assets/designer-assets/logos default/woocommerce-logo (1).png" />
      <img data-aos="fade-right" id="logo-7" src="./assets/designer-assets/logos default/bolt.png" />
      <img data-aos="fade-right" id="logo-8" src="./assets/designer-assets/logos default/vicorva.png" />
      <img data-aos="fade-right" id="logo-9" src="./assets/designer-assets/logos default/fawry-ar1.png" />
      <img data-aos="fade-right" id="logo-10" src="./assets/designer-assets/logos default/Magento.png" />

    </div>
  </section>
</main>
