<main >

<section id="bg" class="pb-5">

  <div id="content">
    <h1>More Than Just A Website</h1>
    <p>
      If you can dream it, we can build it…
    </p>
  </div>
</section>

<section class="mt-5">
  <div class="row px-2">
    <div class="col-12 col-xl-6 p-5" id="contentImg">
      <img src="./assets/img/aboutSec2.png"/>
    </div>

    <div class="col-12 col-xl-6 p-5 " id="siteContent">
      <h1>
        We Are the Best Accounting
        Agency.
      </h1>
      <p>
        We can be your consultant, not only your service provider.Bolt Solutions is an established Software
        house in Egypt with resources/offices in Dubai and Birmingham, UK. With a commitment to align employee
        development with the overall company culture and operating systems.We will help empower people and businesses
        alike on a scientific basis,
        through the provision of optimally tailored solutions from our leading experts around the world.
      </p>
      <br />
      <h3>Vision Statement:</h3>
      <p>
        Simply put, Bolt Solutions is one of the fastest growing software companies in the northern hemisphere.
        Aiming to becoming the leading performer, recognizing all customer landscapes in this global market place,
        serving numerous industries and sectors all over the world.
      </p>
      <p>If you can dream it, we can build it…</p>

      <h3>Mission Statement:</h3>
      <p>
        We exist to assist the digital transformation of one-man bands, to SME’s and large blue-chip companies bringing
        them all into the 21st Century! Our highly skilled experts pave the way for our clients to evolve.Our mission
        is to enable all people and businesses throughout the world to realize their full potential, accelerating organizations digital
        transition. The transition in turn will enhance business growth of our customers with our creative solutions and design.
        To have a pro-active work ethic combined with professionality, our outlook is highly profitable and inevitable.
      </p>
    </div>

  </div>
</section>
  <section id="board">
    <h1>
      Our Board Members
    </h1>
    <h3>
      With our experts we can make a difference.
    </h3>
    <div class="row  mt-5 px-4">

      <div class="col text-left p-4 ">
        <div class=" mb-5">
          <img src="./assets/img/aboutSec2.png" />
        </div>
        <h2>
          Andrew Rooney
        </h2>
        <p class="pr-5 pt-4">

          Remodeling Consultant With a
          decade at BuidWall and a lifetime
          in the industry, Andrew Rooney
          has been an invaluable…
        </p>
      </div>

      <div class="col text-left p-4">
        <div class=" mb-5">
          <img src="./assets/img/aboutSec2.png" />
        </div>
        <h2>
          Andrew Rooney
        </h2>
        <p class="pr-5 pt-4">



          Remodeling Consultant With a
          decade at BuidWall and a lifetime
          in the industry, Andrew Rooney
          has been an invaluable…
        </p>
      </div>

      <div class="col text-left p-4">
        <div class=" mb-5">
          <img src="./assets/img/aboutSec2.png" />
        </div>
        <h2>
          Andrew Rooney
        </h2>
        <p class="pr-5 pt-4">

          Remodeling Consultant With a
          decade at BuidWall and a lifetime
          in the industry, Andrew Rooney
          has been an invaluable…
        </p>
      </div>

    </div>

  
  </section>

  </main>
<app-clients></app-clients>
