<main>
  <section id="bg" class="pb-5">

    <div id="content">
      <h1 class="{{langHelper.font}}">{{langHelper.company.content.h1}}</h1>
      <p class="{{langHelper.font}}">
        {{langHelper.company.content.p}}
      </p>
    </div>
  </section>

  <!--About Text-Content Section-->
  <section class="mt-5">
    <div class="row px-2">
      <div class="col-12 col-xl-6 p-5" id="contentImg">
        <img src="./assets/img/aboutSec2.png" />
      </div>

      <div class="col-12 col-xl-6 p-5" id="siteContent" dir="{{direction}}">
        <h1 class="{{langHelper.font}} {{langHelper.textAlignStyle}}">{{langHelper.company.siteContent.h1}}</h1>
        <p style="font-weight: bold;" class="{{langHelper.font}} {{langHelper.textAlignStyle}}">{{langHelper.company.siteContent.p}}</p>
        <p class="{{langHelper.font}} {{langHelper.textAlignStyle}}">{{langHelper.company.siteContent.p_2}}</p>
        <p class="{{langHelper.font}} {{langHelper.textAlignStyle}}">{{langHelper.company.siteContent.p_3}}</p>
        <br />
        <h3 style="color: #408ed1;">{{langHelper.company.siteContent.h3}}</h3>
        <p>{{langHelper.company.siteContent.p2}}</p>
        <p>{{langHelper.company.siteContent.p2_2}}</p>
        <p>{{langHelper.company.siteContent.p3}}</p>

        <h3 style="color: #408ed1;">{{langHelper.company.siteContent.h3_2}}</h3>
        <p>{{langHelper.company.siteContent.p4}}</p>
        <p>{{langHelper.company.siteContent.p4_2}}</p>
      </div>

    </div>
  </section>
  <section id="board" dir="{{direction}}">
    <h1 class="{{langHelper.font}} {{langHelper.textAlignStyle}}">{{langHelper.company.board.h1}}</h1>
    <h3 class="{{langHelper.font}} {{langHelper.textAlignStyle}}">{{langHelper.company.board.h3}}</h3>
    <div class="container">

      <div class="row ">
        <!--  mt-5 -->
        <div class="col-12 text-lg-left text-center text-center p-lg-0 p-4 mb-5">
          <div class="imgContainer">
            <img src="./assets/img/ibrahim.png" class="ibrahim founderImg" />
          </div>
          <!--<h2 style="color: #408ed1;" class="text-lg-left text-center mt-2">{{langHelper.company.board.h2_2}}</h2>
          <p class="pr-5 text-lg-left text-center">{{langHelper.company.board.p1}}</p>-->
          <!--<p class="text-center founderTextRight">
            "It always seems impossible in your mind.. until it's done, knowledge is so important, but imagination is more than that"
          </p>-->
          <div class="text-center founderTextRight custom">
            <!--"Creativity is contagious, pass it on to everyone"-->
            <div class="blockquote-wrapper">
              <div class="blockquote">
                <h1>
                  Logic <span style="color: #808080; font-weight: 300;"> will take you from </span> A to Z,
                  <span style="color:#808080;font-weight: 300;">imagination will take you </span> everywhere.
                </h1>
                <h4>&mdash; {{langHelper.company.board.h2_2}}<br><em style="color:#408ed1"> {{langHelper.company.board.p1}}</em></h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 text-lg-right text-center p-lg-0 p-4 my-5">
          <div class="imgContainer">
            <img src="./assets/img/ahmedabdelmonem.png" class="founderImg" />
          </div>
          <!--<h2 style="color: #408ed1;" class="text-lg-right text-center mt-2">{{langHelper.company.board.h2_3}}</h2>
  <p class="pr-5 text-lg-right text-center">{{langHelper.company.board.p2}}</p>-->
          <div class="text-center founderTextLeft">
            <!--"Creativity is contagious, pass it on to everyone"-->
            <div class="blockquote-wrapper">
              <div class="blockquote">
                <h1>
                  <span style="color: #808080; font-weight: 300;"> Creativity is </span> contagious,  <span style="color:#808080;font-weight: 300;">pass it on to</span> everyone.
                </h1>
                <h4>&mdash; {{langHelper.company.board.h2_3}}<br><em style="color:#408ed1"> {{langHelper.company.board.p2}}</em></h4>

              </div>
            </div>
          </div>
        </div>

        <div class="col-12 text-lg-left text-center p-lg-0 p-4 my-5">
          <div class="imgContainer">
            <img src="./assets/img/mohamedaljammal1.png" class="founderImg" />
          </div>
          <!--<h2 style="color: #408ed1;" class="text-left mt-2">{{langHelper.company.board.h2_1}}</h2>
  <p class="pr-5 text-lg-left text-center">{{langHelper.company.board.p}}</p>-->
          <!--<p class="text-center founderTextRight">
    " It always seems impossible in your mind.. until it's done, knowledge is so important, but imagination is more than that"
  </p>-->
          <div class="text-center founderTextRight">
            <div class="blockquote-wrapper">
              <div class="blockquote">
                <h1>
                  It always seems <span style="color: #808080; font-weight: 300;"></span> impossible
                  <span style="color:#808080;font-weight: 300;">in your mind.. until it's </span>done.
                  <span style="color:#808080;font-weight: 300;">knowledge is so important, but </span> imagination is more than that.
                </h1>
                <h4>&mdash; {{langHelper.company.board.h2_1}}<br><em style="color:#408ed1"> {{langHelper.company.board.p}}</em></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-clients></app-clients>
