<main>
  <section id="bg" class="pb-5">

    <div id="content">
      <h1 class="{{langHelper.font}}">{{langHelper.company.content.h1}}</h1>
      <p class="{{langHelper.font}}">
        {{langHelper.company.content.p}}
      </p>
    </div>
  </section>

  <!--About Text-Content Section-->
  <section class="mt-5">
    <div class="row px-2">
      <div class="col-12 col-xl-6 p-5" id="contentImg">
        <img src="./assets/img/aboutSec2.png" />
      </div>

      <div class="col-12 col-xl-6 p-5" id="siteContent" dir="{{direction}}">
        <h1 class="{{langHelper.font}} {{langHelper.textAlignStyle}}">{{langHelper.company.siteContent.h1}}</h1>
        <p style="font-weight: bold;" class="{{langHelper.font}} {{langHelper.textAlignStyle}}">{{langHelper.company.siteContent.p}}</p>
        <p class="{{langHelper.font}} {{langHelper.textAlignStyle}}">{{langHelper.company.siteContent.p_2}}</p>
        <p class="{{langHelper.font}} {{langHelper.textAlignStyle}}">{{langHelper.company.siteContent.p_3}}</p>
        <br />
        <h3 style="color: #408ed1;">{{langHelper.company.siteContent.h3}}</h3>
        <p>{{langHelper.company.siteContent.p2}}</p>
        <p>{{langHelper.company.siteContent.p2_2}}</p>
        <p>{{langHelper.company.siteContent.p3}}</p>

        <h3 style="color: #408ed1;">{{langHelper.company.siteContent.h3_2}}</h3>
        <p>{{langHelper.company.siteContent.p4}}</p>
        <p>{{langHelper.company.siteContent.p4_2}}</p>
      </div>

    </div>
  </section>
  <section id="board" dir="{{direction}}">
    <h1 class="{{langHelper.font}} {{langHelper.textAlignStyle}}">{{langHelper.company.board.h1}}</h1>
    <h3 class="{{langHelper.font}} {{langHelper.textAlignStyle}}">{{langHelper.company.board.h3}}</h3>
    <div class="row px-4">
      <!--  mt-5 -->

      <div class="col-12 text-lg-left text-center text-center p-lg-0 p-4">
        <div>
          <img src="./assets/img/ibrahim.png" class="ibrahim founderImg" />
        </div>
        <h2 style="color: #408ed1;" class="text-lg-left text-center mt-2">{{langHelper.company.board.h2_2}}</h2>
        <p class="pr-5 text-lg-left text-center">{{langHelper.company.board.p1}}</p>
        <p class="text-center founderTextRight">
          "Dummy text from Ibrahim Rashed. Dummy text from Ibrahim Rashed
          Dummy text from Ibrahim Rashed. Dummy text from Ibrahim Rashed
          Dummy text from Ibrahim Rashed. Dummy text from Ibrahim Rashed
          Dummy text from Ibrahim Rashed. Dummy text from Ibrahim Rashed
          Dummy text from Ibrahim Rashed. Dummy text from Ibrahim Rashed"
        </p>
      </div>

      <div class="col-12 text-lg-right text-center p-lg-0 p-4">
        <div>
          <img src="./assets/img/ahmedabdelmonem.png" class="founderImg" />
        </div>
        <h2 style="color: #408ed1;" class="text-lg-right text-center mt-2">{{langHelper.company.board.h2_3}}</h2>
        <p class="pr-5 text-lg-right text-center">{{langHelper.company.board.p2}}</p>
        <p class="text-center founderTextLeft">
          "Dummy text from Ibrahim Rashed. Dummy text from Ahmed AbdelMoneim
          Dummy text from Ibrahim Rashed. Dummy text from Ahmed AbdelMoneim
          Dummy text from Ibrahim Rashed. Dummy text from Ahmed AbdelMoneim
          Dummy text from Ibrahim Rashed. Dummy text from Ahmed AbdelMoneim
          Dummy text from Ibrahim Rashed. Dummy text from Ahmed AbdelMoneim"
        </p>
      </div>

      <div class="col-12 text-lg-left text-center p-lg-0 p-4">
        <div>
          <img src="./assets/img/mohamedaljammal1.png" class="founderImg" />
        </div>
        <h2 style="color: #408ed1;" class="text-left mt-2">{{langHelper.company.board.h2_1}}</h2>
        <p class="pr-5 text-lg-left text-center">{{langHelper.company.board.p}}</p>
        <p class="text-center founderTextRight">
          "Dummy text from Ibrahim Rashed. Dummy text from Mohamed Al-Jammal
          Dummy text from Ibrahim Rashed. Dummy text from Mohamed Al-Jammal
          Dummy text from Ibrahim Rashed. Dummy text from Mohamed Al-Jammal
          Dummy text from Ibrahim Rashed. Dummy text from Mohamed Al-Jammal
          Dummy text from Ibrahim Rashed. Dummy text from Mohamed Al-Jammal"
        </p>
      </div>
    </div>
  </section>

</main>
<app-clients></app-clients>
