<!-- Image Section -->
<section class="contact-img container-fluid"></section>

<!--Contact Section-->
<section class="contact-section">

  <!--Contact Section -->
  <div class="container info-container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div>
          <h3>Let's get in touch</h3>
          <p>
            We're open for any suggestion or
            just to have a chat.
          </p>
        </div>
        <div class="row mt-4">
          <img src="../../../../assets/img/contactus/mapLogo.svg" class="svg-icons mr-2 mb-2">
          <P class="  contact-data">1171 Building , Road 9, El-Mokattam, Cairo, Egypt.</P>
        </div>
        <div class="row  mt-4">
          <img src="../../../../assets/img/contactus/phoneLogo.svg" class="svg-icons mr-2 mb-2">
          <P class="  contact-data">+2024213323</P>

        </div>
        <div class="row  mt-4">
          <img src="../../../../assets/img/contactus/envolopeLogo.jpg" class="svg-icons mr-2 mb-2">
          <P class="  contact-data">Info@Boltsolutions.net</P>

        </div>

      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">

        <div class="contact-form text-center container-fluid">
          <h3>Contact Us With</h3>
          <form>
            <div class="container-fluid">

              <input type="text" placeholder="Full Name" />

              <input type="text" placeholder="E-mail" />

              <input type="text" placeholder="Phone Number" />
              <input type="text" class="message-box" placeholder="Your Massage :"   />


              <button type="submit" class="contact-submit">
                SEND MESSAGE
              </button>
            </div>

            
           

          </form>
        </div>


      </div>
    </div>


      
  </div>
  <!--End Contact Section -->
  
   
  <!-- Contact Form -->








 
</section>
<!--End of Contact Section-->
