<!-- Image Section -->
<section class="contact-img container-fluid"></section>

<!--Contact Section-->
<section class="contact-section">

  <!--Contact Section -->
  <div class="container info-container">
    <div>
      <h3>Let's get in touch</h3>
      <p>
        We're open for any suggestion or
        just to have a chat.
      </p>
    </div>
  

    <div class="row mt-4">
      <img src="../../../../assets/img/contactus/mapLogo.svg" class="svg-icons mr-2 mb-2">
      <P class="font-avenir-heavy contact-data">1171 Building , Road 9, El-Mokattam, Cairo, Egypt.</P>
    </div>
    <div class="row  mt-4">
      <img src="../../../../assets/img/contactus/phoneLogo.svg" class="svg-icons mr-2 mb-2">
      <P class="font-avenir-heavy contact-data">+2024213323</P>

    </div>
    <div class="row  mt-4">
      <img src="../../../../assets/img/contactus/envolopeLogo.jpg" class="svg-icons mr-2 mb-2">
      <P class="font-avenir-heavy contact-data">Info@Boltsolutions.net</P>

    </div>



  </div>
  <!--End Contact Section -->
  <!--middle Section paragraph -->
  <div class="container-fluid">
    <div class="contact-introduction">
      <h1 class="contact-header">Keep In Touch With Us</h1>
      <p class="contact-body">
        This Unique Element is here to help You on everything you need although Its amazing for
        your payments and security This Unique. This Unique Element is here to help You on
        everything you need although Its amazing foryour payments and security This Unique.

      </p>
    </div>
  </div>
  <!--End middle Section paragraph -->
  <!-- Introduction -->
  <!--End of Introduction-->
  <!-- Contact Form -->

  <div class="contact-form text-center container-fluid">
    <form >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <input type="text" placeholder="FullName"   />
           

          </div>
          <div class="col-md-6 col-sm-12">
            <input type="text" placeholder="Email"   />
          
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <input type="text" placeholder="Contact Number"  />
           
          </div>
          
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <input type="text" placeholder="Store name "  />
          
          </div>
        
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <input type="text" placeholder="Monthly transaction amount"   />
          
          </div>
          
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <input type="text" class="message-box" placeholder="message"   />
           
          </div>
        </div>
      </div>
      <button type="submit" class="contact-submit"  >
        SEND MESSAGE
      </button>

    </form>
  </div>







 
</section>
<!--End of Contact Section-->
