footer {
  background-size: cover;
  background-position: bottom;
  background-image: url('../../../../assets/img/footerBG.png');
  overflow:hidden;
}
//contact icons
.svg-icons {
  width: 50px;
}
// Custom Bolt Footer
      
h6 {
  b {
    font-size: 20px;
    color: #4e72ffcc !important;
    font-weight: normal;

  }

  color: #4e72ff !important;
}
li {
  padding-bottom:10px;
  color: rgba(255, 255, 255, 0.64);
  font-size:18px;
  cursor: pointer;
}


@media screen and (max-width: 1024px) {

  footer .row {
    margin: 0 !important;
    p{
        width:auto !important;
    }
  }
  .custom {
    padding-left: 20px!important;
    
  }
  .customText{
      display:none;
  }

  h6 {
    b {
      font-size: 20px;
    }

  }

  li {
    padding-bottom: 10px;
    font-size: 18px;
  }
  .navbar-brand {
    margin-bottom: 1rem !important;
    width: 135px;
  }

}
.custom {
  padding-left: 106px
}
