footer {
  background-size: cover;
  background-position: bottom;
  background-image: url('/../../../assets/img/footerBG.png');
  overflow:hidden;
}
// Custom Bolt Footer

h6 {
  b {
    font-size: 24px;
    color: #4e72ff !important;
    font-weight: normal;

  }

  color: #4e72ff !important;
}
li {
  padding-bottom:7%;
  color: rgba(255, 255, 255, 0.64);
  font-size:24px;
  cursor: pointer;
}
