<footer dir="{{direction}}">
  <div class="row justify-content-center" style="margin:50px ">
    <div class="col-12">
      <div class="row m-3 my-4" >
        <div class="col-xl-3 col-12 p-0 mt-4 mt-xl-0 {{langHelper.textAlign}}"  >
          <h3 class="text-muted mb-md-0 mb-3 mb-lg-0 bold-text">
          <img class="navbar-brand" src="./assets/img/bolt.png" style="filter:contrast(2); margin-bottom:20px;width:165px" alt="bolt-solutions" routerLink="/home">
          </h3>
          <p class="text-muted  bold-text customText" style=" color:#ffffff !important;">
            {{langHelper.customText}}

          </p>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-4 col-12 custom {{langHelper.textAlign}}">
          <h6 class="mb-3 mb-lg-4 bold-text "><b>{{langHelper.Services.serviceTitle}}</b></h6>
          <ul class="list-unstyled">
            <li routerLink="/ERP">{{langHelper.Services.service1}}</li>
            <li routerLink="/ATM">{{langHelper.Services.service4}}</li>
            <li routerLink="/CRM">{{langHelper.Services.service5}}</li>
            <li routerLink="/TailoredSolution">{{langHelper.Services.service8}}</li>
            <li routerLink="/web">{{langHelper.Services.service2}}</li>
            <li routerLink="/MobileApp">{{langHelper.Services.service3}}</li>
            <li routerLink="/DCN">{{langHelper.Services.service6}}</li>
            <li routerLink="/DigitalTransformation">{{langHelper.Services.service7}}</li>

          </ul>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-4 col-12 custom {{langHelper.textAlign}}">
          <h6 class="mb-3 mb-lg-4 bold-text "><b>{{langHelper.Products.productsTitle}}</b></h6>
          <ul class="list-unstyled">
            <li routerLink="/BoltDoctor">{{langHelper.Products.product1}}</li>
            <li routerLink="/BoltSalon">{{langHelper.Products.product2}}</li>
            <li routerLink="/BoltRestaurant">{{langHelper.Products.product3}}</li>
            <li routerLink="/BoltERP">{{langHelper.Products.product4}}</li>
         
          </ul>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-4 col-12 {{langHelper.textAlign}}" >
          <h6 class="mb-3 mb-lg-4 bold-text "><b>{{langHelper.Contact.contactTitle}}</b></h6>
          <ul class="list-unstyled">
            <li><img src="./assets/img/contactus/location.png" class="svg-icons iconStyle"><p class="{{langHelper.iconParagraph}}">{{langHelper.Contact.address}}</p></li>
            <li><img src="./assets/img/contactus/phone.png" class="svg-icons">+2024213323</li>
            <li><img src="./assets/img/contactus/message.png" class="svg-icons"><a href="mailto:info@boltsmartsolutions.com?&subject=Contact Bolt Solutions" class="infoStyle">Info@Boltsolutions.net</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
