<footer>
  <div class="row justify-content-center" style="margin:50px ">
    <div class="col-12">
      <div class="row m-3 my-4" >
        <div class="col-xl-3 col-12 p-0 mt-4 mt-xl-0"  >
          <h3 class="text-muted mb-md-0 mb-3 mb-lg-0 bold-text">
          <img class="navbar-brand" src="./assets/img/bolt.png" style="filter:contrast(2); margin-bottom:20px;width:165px" alt="bolt-solutions" routerLink="/home">
          </h3>
          <p class="  bold-text customText" style="color: rgba(255, 255, 255, 0.64);">
            Accelerate your team's performance by
            assigning tasks, communicating and
            tracking progress in one  place. Did you
            know we're one of the first companies
            to offer an EU hosting option for our
            European customers.
          </p>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-4 col-12 custom" >
          <h6 class="mb-3 mb-lg-4 bold-text "><b>Category</b></h6>
          <ul class="list-unstyled">
            <li>Marketing</li>
            <li>Branding</li>
            <li>SEO</li>
            <li>Web Design</li>
            <li>Video</li>
          </ul>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-4 col-12 custom">
          <h6 class="mb-3 mb-lg-4 bold-text "><b>Link</b></h6>
          <ul class="list-unstyled">
            <li>Branding</li>
            <li>SEO & SMM</li>
            <li>Graphic</li>
          </ul>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-4 col-12 custom">
          <h6 class="mb-3 mb-lg-4 bold-text "><b>Services</b></h6>
          <ul class="list-unstyled">
            <li>Marketing</li>
            <li>Branding</li>
            <li>SEO</li>
            <li>Web Design</li>
            <li>Video</li>
          </ul>
        </div>
      </div>
      <!--<div class="row ">-->
        <!--<div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
          <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Pepper All Rights Reserved.</small>
        </div>-->
        <!--<div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
          <h6 class="mt-55 mt-2 text-muted bold-text"><b>ANIRUDH SINGLA</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> anirudh@gmail.com</small>
        </div>
        <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
          <h6 class="text-muted bold-text"><b>RISHABH SHEKHAR</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> rishab@gmail.com</small>
        </div>
      </div>-->
    </div>
  </div>
</footer>
