<footer dir="{{direction}}">
  <div class="row justify-content-center" style="margin:50px ">
    <div class="col-12">
      <div class="row m-3 my-4" >
        <div class="col-xl-3 col-12 p-0 mt-4 mt-xl-0"  >
          <h3 class="text-muted mb-md-0 mb-3 mb-lg-0 bold-text">
          <img class="navbar-brand" src="./assets/img/bolt.png" style="filter:contrast(2); margin-bottom:20px;width:165px" alt="bolt-solutions" routerLink="/home">
          </h3>
          <p class="text-muted  bold-text customText" style=" color:#ffffff !important;">
            {{langHelper.customText}}

          </p>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-4 col-12 custom">
          <h6 class="mb-3 mb-lg-4 bold-text "><b>{{langHelper.Services.serviceTitle}}</b></h6>
          <ul class="list-unstyled">
            <li>{{langHelper.Services.service1}}</li>
            <li>{{langHelper.Services.service2}}</li>
            <li>{{langHelper.Services.service3}}</li>
            <li>{{langHelper.Services.service4}}</li>
            <li>{{langHelper.Services.service5}}</li>
            <li>{{langHelper.Services.service6}}</li>
            <li>{{langHelper.Services.service7}}</li>
            <li>{{langHelper.Services.service8}}</li>

          </ul>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-4 col-12 custom">
          <h6 class="mb-3 mb-lg-4 bold-text "><b>{{langHelper.Products.productsTitle}}</b></h6>
          <ul class="list-unstyled">
            <li>{{langHelper.Products.product1}}</li>
            <li>{{langHelper.Products.product2}}</li>
            <li>{{langHelper.Products.product3}}</li>
            <li>{{langHelper.Products.product4}}</li>
         
          </ul>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-4 col-12" >
          <h6 class="mb-3 mb-lg-4 bold-text "><b>{{langHelper.Contact.contactTitle}}</b></h6>
          <ul class="list-unstyled">
            <li><img src="./assets/img/contactus/location.png" class=" svg-icons" style="position: absolute; top: 38px;"><p style="margin-left: 52px;">{{langHelper.Contact.address}}</p></li>
            <li><img src="./assets/img/contactus/phone.png" class="svg-icons">+2024213323</li>
            <li><img src="./assets/img/contactus/message.png" class=" svg-icons">Info@Boltsolutions.net</li>

          </ul>
        </div>
      </div>
      <!--<div class="row ">-->
        <!--<div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
          <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Pepper All Rights Reserved.</small>
        </div>-->
        <!--<div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
          <h6 class="mt-55 mt-2 text-muted bold-text"><b>ANIRUDH SINGLA</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> anirudh@gmail.com</small>
        </div>
        <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
          <h6 class="text-muted bold-text"><b>RISHABH SHEKHAR</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> rishab@gmail.com</small>
        </div>
      </div>-->
    </div>
  </div>
</footer>
