<div class="text-center" style="overflow-x:hidden;">
  <div>
    <!--Slick Carousel-->
    <ngx-slick-carousel class="carousel p-5 mt-3"
                        #slickModal="slick-carousel"
                        [config]="slideConfig">
      <!--Iterate Gallery Items and append-->
      <div ngxSlickItem *ngFor="let gallery of galleryItems; let i = index" class="slide">
        <!-- Gallery item -->
        <div class="col-lg-12">
          <div class="bg-white shadow-sm custom-news-card">
            <!--Gallery item image-->
            <!--Navigate to uploads folder and display uploaded images-->
            <img src="../../../../assets/img/solutions/{{gallery.imagePath}}" alt="" class="img-fluid card-img-top">
            <div class="p-4">
              <!--Gallery item title-->
              <h1 style="font-weight:400;"> <a (click)="ViewItem(gallery.id)" style="cursor:pointer; text-decoration: none;" class="text-dark">{{gallery.title}}</a></h1>
              <!--Gallery item content-->
              <p class="small text-muted mb-0">{{gallery.content}}</p>
              <div class="d-flex align-items-center justify-content-center px-3 py-2 mt-4">
                <h2 style="cursor:pointer;" (click)="ViewItem(gallery.id)"><i>By Super User</i> <b> 26.12.2020</b></h2>
              </div>
            </div>
          </div>
        </div>
        <!--End of Gallery Item-->
      </div>
    </ngx-slick-carousel>
  </div>
</div>
