

<main>

  <section id="bg" class="pb-5">
  </section>

  <section class="px-lg-5 p-3" id="desc">

    <h1>{{langHelper.h1}}</h1>
    <p>{{langHelper.p2}}</p>
    <p>{{langHelper.p3}}</p>
  </section>

  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4 mt-5">
        <div class="benefit-inner">
          <div class="iconBenefit1 benefitImg"></div>
          <h2>{{langHelper.cards.card1.title}}</h2>
          <p class="mt-3">
            {{langHelper.cards.card1.desc}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card1.desc2}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4 mt-5">
        <div class="benefit-inner">
          <div class="iconBenefit2 benefitImg"></div>
          <h2>{{langHelper.cards.card2.title}}</h2>
          <p>
            {{langHelper.cards.card2.desc}}
          </p>
          <p class="mt-3" >
            {{langHelper.cards.card2.desc2}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card2.desc3}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4 mt-5">
        <div class="benefit-inner">
          <div class="iconBenefit3 benefitImg"></div>
          <h2>{{langHelper.cards.card3.title}}</h2>
          <p>
            {{langHelper.cards.card3.desc}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card3.desc2}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card3.desc3}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card3.desc4}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4 mt-5">
        <div class="benefit-inner">
          <div class="iconBenefit4 benefitImg"></div>
          <h2>{{langHelper.cards.card4.title}}</h2>
          <p>
            {{langHelper.cards.card4.desc}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card4.desc2}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card4.desc3}}
          </p>
        </div>
      </div><div class="col-12 col-lg-4 text-center benefit  py-4 mt-5">
        <div class="benefit-inner">
          <div class="iconBenefit5 benefitImg"></div>
          <h2>{{langHelper.cards.card5.title}}</h2>
          <p>
            {{langHelper.cards.card5.desc}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card5.desc2}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card5.desc3}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4 mt-5">
        <div class="benefit-inner">
          <div class="iconBenefit6 benefitImg"></div>
          <h2>{{langHelper.cards.card6.title}}</h2>
          <p>
            {{langHelper.cards.card6.desc}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card6.desc2}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card6.desc3}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4 mt-5">
        <div class="benefit-inner">
          <div class="iconBenefit7 benefitImg"></div>
          <h2>{{langHelper.cards.card7.title}}</h2>
          <p>
            {{langHelper.cards.card7.desc}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card7.desc2}}
          </p>
          <p class="mt-3">
            {{langHelper.cards.card7.desc3}}
          </p>
        </div>
      </div>
    </div>
  </section>

</main>
