<div class="container-fluid">
  <img src="../../../assets/img/6.png" class="img-fluid" alt="Responsive image">
  <div class="ourNews container">
    <h1 class="SpecificNewTitle"> We Are the Best Accounting Agency.</h1>
    <img src="../../../../assets/img/mobileImage.jfif" class="img-fluid" alt="Responsive image">
    <p>
      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated
      they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

      A small river named Duden flows by their place and supplies it with the necessary. , a large language ocean.

      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated
      they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

      A small river named Duden flows by their place and supplies it with the necessary. , a large language ocean.
    </p>
  </div>
</div>
