.SpecificNewTitle {
  color: #408ed1;
  font-size: 35px;
  padding-bottom: 2%;
  font-family: 'Raleway';
  font-weight: 800;
}
.bg-light {
  background-color: #e8e8e9 !important;
}
.img-fluid {
  width: 100%;
  height: 75vh;
}
p {
  padding-top: 6%;
  color: grey;
  font-size: 20px;
}
.container-fluid
{
    padding:0;
    margin:0;
    padding-bottom:20%;
}

@media only screen and (max-width: 1100px) {

  .container-fluid .img-fluid {
    height: 22vh !important;
  }

  .SpecificNewTitle {
    font-size: 17px !important;
  }

  .bg-light {
    background-color: unset !important;
  }
  .ourNews .img-fluid
  {
      height:auto!important;
  }
}
