

<main>

  <section id="bg" class="pb-5">
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      BOLT RESTAURANT
    </h1>
    <p>
      Bolt Restaurant is an application that provides a unique experience for restaurant involved parties starting from Admin/Owner, Waiter, and Ends-user/ Customer.

    </p>
  </section>
  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>Ease of use</h2>
          <p>
            QR code to view the system, friendly to deal with the system, (simple steps to get the service) facilitating the customer way of ordering in a well-organized and systematic flow. Images of the items with their details are provided to be more realistic and aware of all item’s variety and prices.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Safety</h2>
          <p>
            Especially in COVID-19 pandemic as the system makes sure that the health and safety regulations are considered as simply avoiding crowd and hassle of disordering conflict.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Customer satisfaction</h2>
          <p>
            Since the business techniques and methods for providing a service are improved, therefore the customer will be more satisfied. (All you need by one click).
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Unique experience</h2>
          <p>
            The customer will consider the service provider as preferable differentiated and Unique one, which will increase customer satisfaction, your customer can view the best-selling dish/drink, fill the feedback form and also add payment options.
          </p>
        </div>
      </div>

     

    </div>
  </section>
</main>
