

<main>

  <section id="bg" class="pb-5">
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      {{langHelper.header.h1}}
    </h1>
    <p>
      {{langHelper.header.p}}

    </p>
    <h5 style="color: #408ed1">
      {{langHelper.header.Benefits}}
    </h5>
    <h6>{{langHelper.header.benefits1}}</h6>
    <ul>
      <li>{{langHelper.header.benefits1Description}}</li>
    </ul>
    <h6>{{langHelper.header.benefits2}}</h6>
    <ul>
      <li>{{langHelper.header.benefits2Description}}</li>
    </ul>
    <h6>{{langHelper.header.benefits3}}</h6>
    <ul>
      <li>{{langHelper.header.benefits3Description}}</li>
    </ul>
    <h6>{{langHelper.header.benefits4}}</h6>
    <ul>
      <li>{{langHelper.header.benefits4Description1}}</li>
      <li>{{langHelper.header.benefits4Description2}}</li>
    </ul>

    <h5 >
      {{langHelper.header.toSummerize}}
    </h5>
    <h5 class="mt-4" style="color: #408ed1">
      {{langHelper.header.Features}}
    </h5>
    <ul>
      <li>{{langHelper.header.Features1}}</li>
      <li>{{langHelper.header.Features2}}</li>
      <li>{{langHelper.header.Features3}}</li>
      <li>{{langHelper.header.Features4}}</li>
      <li>{{langHelper.header.Features5}}</li>
    </ul>
  </section>
  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="easeOfUse"></div>

          <h2>{{langHelper.cards.card1.title}}</h2>
          <p>
            {{langHelper.cards.card1.desc}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="safety"></div>

          <h2>{{langHelper.cards.card2.title}}</h2>
          <p>
            {{langHelper.cards.card2.desc}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="CusSatisfaction"></div>

          <h2>{{langHelper.cards.card3.title}}</h2>
          <p>
            {{langHelper.cards.card3.desc}}
          </p>
        </div>
      </div>

      <!--<div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Unique experience</h2>
          <p>
            The customer will consider the service provider as preferable differentiated and Unique one, which will increase customer satisfaction, your customer can view the best-selling dish/drink, fill the feedback form and also add payment options.
          </p>
        </div>
      </div>-->

     

    </div>
  </section>
</main>
