 <!-- Cover Image  -->
<header class="py-5 bg-image-full" style="background-size: cover; background-position: bottom; background-image: url('../../../assets/img/homeBG.png'); ">

  <h1>Feel Comfortable when <br />you meet excellence</h1>
  <p>
    Accelerate your team's performance by assigning
    tasks, communicating and tracking progress in one
    place. Did you know we're one of the first com
    ponies to offer an EU hosting option for our
    European customers.
  </p>
  <button class="read-more"><h2>Read More</h2></button>
</header>

<!-- Section 1 -->
<section class="sectionOne">
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <h1>
          We Create Digital Solutions That Help<br />
          The Business Leaders To Monitor More<br />
          To Have The Full Control.
        </h1>
        <!--icons-->
        <div class="row text-center">
          <div class="col-6">
            <img src="../../../assets/img/icons/icon2.png" />
            <h2>Responsive Layout</h2>
          </div>
          <div class="col-6">
            <img src="../../../assets/img/icons/icon3.png" />
            <h2>Fully Customizable</h2>
          </div>
        </div>
        <div class="row text-center" style="margin-top:20%;">
          <div class="col-6">
            <img src="../../../assets/img/icons/icon1.png" />
            <h2>Parallax Support</h2>
          </div>
          <div class="col-6">
            <img src="../../../assets/img/icons/icon2.png" />
            <h2>Responsive Layout</h2>
          </div>
        </div>
      </div>
      <div class="col-7">
        <img src="../../../assets/img/solutionscover.png" style="width:100%;" class="mt-5"/>
      </div>
    </div>
  </div>

</section>

<hr />
<app-image-slider></app-image-slider>

<app-modal></app-modal>
