 <!-- Cover Image  -->
<header class="py-5 bg-image-full homeBG" dir="{{direction}}">

  <h1 class="{{langHelper.header.classes.header_class}}">{{langHelper.header.h1_1}} <br />{{langHelper.header.h1_2}}</h1>
  <p class="{{langHelper.header.classes.paragraph_class}}">
    {{langHelper.header.paragraph}}
  </p>
  <button class="read-more" routerLink="/about-us"><h2>{{langHelper.readMore}}</h2></button>
</header>

<!-- Section 1 -->
<section class="sectionOne">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-5">
        <h1 style="z-index:9999; position:relative;">
          <p>{{langHelper.SectionOne.h1_1}}</p>
          <p>{{langHelper.SectionOne.h1_2}}</p>
          <p>{{langHelper.SectionOne.h1_3}}</p>
        </h1>
    
        <!--icons-->
        <div class="text-center">
          <div class="row">
            <div class="col-6 px-3">
              <img src="./assets/img/icons/icon2.png" />
              <h2 class="pt-3">{{langHelper.SectionOne.Userfriendly}}</h2>
            </div>
            <div class="col-6">
              <img src="./assets/img/icons/icon3.png" />
              <h2 class="pt-3">{{langHelper.SectionOne.Responsive}}</h2>
            </div>
          </div>
          <div class="row" style="margin-top:20%;">
            <div class="col-6">
              <img src="./assets/img/icons/icon1.png" />
              <h2 class="pt-3">{{langHelper.SectionOne.Fullycustomized}}</h2>
            </div>
            <div class="col-6">
              <img src="./assets/img/icons/icon2.png" />
              <h2 class="pt-3">{{langHelper.SectionOne.VastProductPortfolio}}</h2>
            </div>
          </div>
        </div>
        <!--End of icons-->
      </div>
      <!--Background image-->
      <div class="col-7">
        <img src="./assets/img/solutionscover.png" style="width:100%; z-index:0;" class="mt-5" />
      </div>
    </div>
  </div>
</section>
<!--End of section 1-->
<!--Section 2 -Solutions- -->
<section class="sectionTwo">
  <h1 class="display-4 p-5">{{langHelper.SectionTwo.h1}} </h1>
  <div class="title-list ml-4 ml-lg-5">
    <h2 class="solution-tab active" (click)="ViewSolution('all')" id="all" style="margin-left:2%;">{{langHelper.SectionTwo.h2_1}}</h2>
    <h2 class="solution-tab" (click)="ViewSolution('Solutions')" id="Solutions">{{langHelper.SectionTwo.h2_2}}</h2>
    <h2 class="solution-tab" (click)="ViewSolution('Services')" id="Services"> {{langHelper.SectionTwo.h2_3}}</h2>
  </div>

  <div class="text-center" style="overflow: hidden;">
    <div class="row m-lg-5">
      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="Solutions">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center" (click)="Navigate('ATM')"><h2>{{langHelper.readMore}}</h2></button></div></div></div>
            <img src="./assets/img/solutions/atm.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2 class="mt-2">{{langHelper.SectionTwo.atm}}</h2>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="Solutions">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center" (click)="Navigate('TailoredSolution')"><h2>{{langHelper.readMore}}</h2></button></div></div></div>
            <img src="./assets/img/solutions/tailoredsolution.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2 class="mt-2">{{langHelper.SectionTwo.Tailored}}</h2>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="Solutions">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center" (click)="Navigate('DigitalTransformation')"><h2>{{langHelper.readMore}}</h2></button></div></div></div>
            <img src="./assets/img/solutions/Digitaltransformation.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2 class="mt-2">{{langHelper.SectionTwo.Digital}}</h2>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="Solutions">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center"  (click)="Navigate('DCN')" ><h2>{{langHelper.readMore}}</h2></button></div></div></div>
            <img src="./assets/img/solutions/DataCenter.png" class="img-fluid" alt="solutions" />
          </div>
          <h2 class="mt-2">{{langHelper.SectionTwo.DataCenter}}</h2>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="Solutions">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center"  (click)="Navigate('web')"><h2>{{langHelper.readMore}}</h2></button></div></div></div>
            <img src="./assets/img/solutions/website.png" class="img-fluid" alt="solutions" />
          </div>
          <h2 class="mt-2">{{langHelper.SectionTwo.Website}}</h2>
        </div>
      </div>

      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="Solutions">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center" (click)="Navigate('ERP')"><h2>{{langHelper.readMore}}</h2></button></div></div></div>
            <img src="./assets/img/solutions/ERP.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2 class="mt-2">{{langHelper.SectionTwo.ERP}} </h2>
        </div>
      </div>


      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="Solutions">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center" (click)="Navigate('MobileApp')"><h2>{{langHelper.readMore}}</h2></button></div></div></div>
            <img src="./assets/img/solutions/mobileapp.png" class="img-fluid" alt="solutions" />
          </div>
          <h2 class="mt-2">{{langHelper.SectionTwo.Mobile}}</h2>
        </div>
      </div>

      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="Services">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center" (click)="Navigate('BoltSalon')"><h2>{{langHelper.readMore}}</h2></button></div></div></div>
            <img src="./assets/img/solutions/BoltSalon.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2 class="mt-2">{{langHelper.SectionTwo.Boltssalon}}</h2>
        </div>
      </div>

      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="Services">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center" (click)="Navigate('BoltDoctor')"><h2>{{langHelper.readMore}}</h2></button></div></div></div>
            <img src="./assets/img/solutions/BoltDoctor.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2 class="mt-2">{{langHelper.SectionTwo.doctor}}</h2>
        </div>
      </div>

      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="Services">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center"(click)="Navigate('BoltRestaurant')"><h2>{{langHelper.readMore}}</h2></button></div></div></div>
            <img src="./assets/img/solutions/boltRestaurant.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2 class="mt-2">{{langHelper.SectionTwo.Restaurant}}</h2>
        </div>
      </div>

      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="Services">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center" (click)="Navigate('BoltERP')" ><h2>{{langHelper.readMore}}</h2></button></div></div></div>
            <img src="./assets/img/solutions/boltERP.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2 class="mt-2">{{langHelper.SectionTwo.Bolt_ERP}} </h2>
        </div>
      </div>


    </div>
  </div>
</section>
<!--End of Solutions Section-->
<!--Section Three -Latest News- -->
<!--<section class="sectionThree">
  <h1 class="display-4 p-5">Be Updated With Our Latest News.</h1>-->
  <!--Latest News Slider-->
  <!--<app-image-slider></app-image-slider>
</section>-->
<!--End of Latest News-->
<!--Our Clients Section-->
<app-clients></app-clients>
