//Shared
h1 {
  font-family: 'Raleway', sans-serif;
}
.img-fluid{
  width: 100% !important;
}
//Cover Image Section
.homeBG {
  background-size: cover;
  height:100vh;
  background-position: center top;
  background-image: url('../../../assets/img/homeBG.png');
}
.homeBGAR{
  background-image: url('../../../assets/img/homeBGAR.png');
}
.arabicFont{
  font-family: 'Cairo-Regular', sans-serif !important;
}
.arabicFontAlMarai{
  font-family: 'Almarai-Regular', sans-serif !important; 
}
header {
  h1 {
    color: white;
    width: 782px;
    height: 170px;
    margin: 151px 115px 35px 45px;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: #dcdcdc;
  }

  .arabicH1 {
    text-align: right;
    font-family: 'Cairo-SemiBold', sans-serif;
  }

  .arabic_paragraph {
    font-family: 'Tajawal-Light', sans-serif;
  }

  p {
    width: 628px;
    height: 128px;
    margin: 35px 72px 0 45px;
    font-family: 'Muli', sans-serif;
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #dcdcdc;
  }

  .headerParagraphAR {
    text-align: right;
    font-family: 'Cairo-Regular', sans-serif;
  }

  .read-more {
    border: 1px solid black;
    margin: 65px 57px 0 105px;
    margin-top: 0 !important;
    padding: 7px 50px;
    border-radius: 35px;


    h2 {
      font-family: 'Muli', sans-serif;
      font-size: 26px;
      font-weight: 300 !important;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.26;
      letter-spacing: normal;
      text-align: left;
      margin: 0;
      color: #3b3b3bcc;
    }
  }

  .readMoreButtonAR {
    margin-left: 82%;
    h2{
      font-family: 'Almarai-Bold', sans-serif !important;
      color: black;
      font-size: 22px;
    }
    
  }
}
.textAlignRight{
  text-align: right !important;
  font-family: 'Cairo-Regular', sans-serif;
}
//Section One
.sectionOne {
  h1 {
    width: 968px;
    height: 192px;
    margin: 100px 262px 76.2px 30px;
    font-size: 38px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #2e2e2e;
  }
  h2 {
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.78);
  }

  img {
    width: 50px
  }
  .headerPositionAR{
    text-align: right;
    margin: 100px 100px 76.2px 30px;
    font-family: 'Cairo-Regular', sans-serif;
  }
  .imgPositionAR{
    transform: scaleX(-1);
  }
}

//Section Two: Solutions
.sectionTwo {
  padding-bottom: 10%;

  h1 {

    font-family: Raleway;
    font-size: 45px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #2f2f2f;
 
  }
}
.title-list {
  display: inline-block;
  width: 100%;

  .active {
    font-weight: 800 !important;
  }

  h2 {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    padding-right: 5%;
    cursor: pointer;
  }

  h2:hover {
    color: black;
  }
}
.solution-tab {
  font-weight: normal;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.solution-tab:hover {
  font-weight: 600 !important;
  transform: scale(1.1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.title-list::after {
  content: "";
  display: block;
  width: 90%;
  padding-top: 10px;
  border-bottom: solid 0.5px rgba(70, 70, 70, 0.83);
}
.news-container {
  margin-top: 10%;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  //Hoverable container
  .container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(53, 119, 147, 0.6);
    display: none;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;

    .read-more {
      border: 1px solid rgba(53, 119, 147, 0.6);
      margin: 0 auto;
      margin-top: 30%;
      padding: 13px ;
      border-radius: 35px;
      width: 185px;
      height: 55px;
      outline-style: none;

      h2 {
        font-family: 'Muli', sans-serif;
        font-size: 22px;
        font-weight: 100;
        text-align: center;
      }
    }
  }

  h2 {
    font-family: 'avenir', Arial, sans-serif;
    color: #232D37;
    font-weight: 300;
    font-size: 26px;
    margin: 0 auto;
    text-align: left;
  }
}
.news-container:hover, .news-container:active{
    .container-overlay{
        display: block;
    }
}
//End of Solutions Section
//Latest News Section
.sectionThree {
  background-color: #eaeaea;

  h1 {
    width: 918px;
    height: 67px;
    font-family: 'Raleway';
    font-size: 50px;

    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #2f2f2f;
  }
}

//Responsive

//Mobile View
@media only screen and (max-device-width: 450px){
  .homeBG {
    height: 70vh;
  }

  header {
    h1 {
      width: 250px;
      height: 54px;
      margin: 100.5px 46.5px 30px 14px;
      font-family: 'Raleway',sans-serif;
      font-size: 22px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: left;
      color: #dcdcdc;
      margin-top: 38%;
    }

    p {
      width: 349px;
      height: 95px;
      margin: 7px 12px 25px;
      font-family: 'Muli',sans-serif;
      font-size: 16px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.27;
      letter-spacing: normal;
      text-align: left;
      color: #dcdcdc;
    }
  }

  .sectionOne {

    .headerPositionAR{
      margin: 100px 21px 76.2px 30px;
    }
    h1 {
      width: 341px;
      height: 66px;
      margin: 19px 0px 45.6px;
      font-family: 'Raleway',sans-serif;
      font-size: 18px;
      font-weight: 400;
    }

    .col-7 {
      display: none;
    }

    img {
      width: 35.1px;
      height: 34.6px;
    }

    h2 {
      font-size: 18px;
    }
  }



    header{
        p{
            width:340px !important;
            font-size:16px !important;
        }
        .read-more{
            margin-top:14px !important;
            margin-left:20px;
        }
    }
    .sectionOne{
        h1{
            font-size:16px !important;
            line-height: 0.5rem;
        }
    }
    .mobileRow{
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  .read-more {
    padding: 8px 21px !important;
    border-radius: 35px;
    width: 130px !important;
    height: 44px !important;

    &:focus {
      border: none;
      outline-style: none;
    }

    h2 {
      width: 115px; //
      height: 44px !important;
      font-family: "Muli", sans-serif;
      font-size: 18px !important;
      font-weight: 100;
    }
  }
  .readMoreButtonAR{
    margin-left: 60% !important;
    h2{
      width: 50px;
    }
  }
  .container-overlay {
    .read-more {
      margin: 31px 0px 0px -6px !important;
      padding: 10px 0 !important;
      width: 115px !important;
      height: 37px !important;
      font-weight: bold;
    }
  }
  .sectionTwo{
    h1{
      font-size: 26px;
    }
  }
  .title-list{
    h2{
      font-size: 16px;
    }
  }
  .news-container{
    h2{
      font-size: 16px;
    }
  }
}
//Img display/show based on screen sizes
@media only screen and(min-device-width:992px) and (max-device-width: 1080px){
  .sectionOne .col-7{
    display: block !important;
    img{
      width: 100% !important;
      height: 100% !important;
    }
  }
}
@media only screen and (min-device-width:700px) and (max-device-width: 1024px) {
  .homeBG {
    height: 70vh;
  }
  header {
    h1 {
      width: 400px;
      height: 54px;
      margin: 100.5px 46.5px 30px 14px;
      font-family: 'Raleway',sans-serif;
      font-size: 34px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: left;
      color: #dcdcdc;
      margin-top: 35%;
    }

    p {
      width: 600px;
      height: 95px;
      margin: 7px 12px 25px;
      font-family: 'Muli',sans-serif;
      font-size: 20px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.27;
      letter-spacing: normal;
      text-align: left;
      color: #dcdcdc;
    }
    .read-more {
      padding: 8px 21px !important;
      border-radius: 35px;
      width: 155px !important;
      height: 50px !important;
      margin-top: 73px !important;
      margin: 65px 57px 0 50px;
      &:focus {
        border: none;
        outline-style: none;
      }
  
      h2 {
        width: 115px; //
        height: 44px !important;
        font-family: "Muli", sans-serif;
        font-size: 23px !important;
        font-weight: 100;
      }
    }
    .readMoreButtonAR{
      margin-left: 60% !important;
      h2{
        width: 50px;
      }
    }
  }

  .sectionOne {
    h1 {
      width: 341px;
      height: 66px;
      margin: 19px -13px 24.6px;
      font-family: 'Raleway',sans-serif;
      font-size: 18px;
      font-weight: 400;
    }

    .col-7 {
      display: none;
    }

    img {
      width: 35.1px;
      height: 34.6px;
    }

    h2 {
      font-size: 18px;
    }
  }
  //End of Section One
  //Section Two
  .sectionTwo {
    h1 {
      font-size: 24px;
      margin-top: 5% !important;
      padding: 2rem !important;
    }

    h2 {
      font-size: 15px;
    }
  }

  .row {
    margin-right: auto;
    margin-left: auto;
  }

  .sectionThree {
    h1 {
      font-size: 23px;
      text-align: left;
      color: #2f2f2f;
      text-align: center;
      padding: 0 !important;
      padding-top: 10% !important;
      width: auto;
    }
  }

  .read-more {
    margin: 40px 0px 0px 29px;
    margin-top: 40px !important;
    padding: 11px 23px;
    border-radius: 35px;
    width: 115px;
    height: 37px;
    font-weight: bold;

    &:focus {
      border: none;
      outline-style: none;
    }

    h2 {
      width: 174px !important;
      height: 44px !important;
      font-family: "Muli", sans-serif;
      font-size: 13px !important;
      font-weight: 100;
    }
  }

  .news-container {
    .container-overlay {
      .read-more {
        margin: 40px 0px 0px 7px;
        padding: 10px 0;
        width: 115px;
        height: 37px;
        font-weight: bold;

        h2 {
          width: auto !important;
        }
      }
    }
  }
}

//Animations and keyframes
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (width: 320px)
{
  .homeBG p {
    font-size: 13px !important;
    margin: 7px 12px -24px !important;
  }
  header{
    p{
        width:280px !important;
    }
  }
  .sectionOne{
      h1{
          font-size: 16px;
      }
  }
  .read-more {
    width: 115px !important;
    height: 38px !important;

    h2 {
      font-size: 16px !important;
    }
  }
}

@media only screen and (min-height: 750px) and (max-height: 800px) and (max-width: 992px){
  header {
    h1 {
      margin-top: 50%;
    }
  }
}

@media only screen and (min-height: 801px) and (max-height: 950px) and (max-width: 600px){
  header {
    h1 {
      margin-top: 66% !important;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
 .header
 {
     background-color:rebeccapurple !important;
 }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}
