 <!-- Cover Image  -->
<header class="py-5 bg-image-full homeBG">

  <h1>Feel Comfortable when <br />you meet excellence</h1>
  <p>
    Accelerate your team's performance by assigning
    tasks, communicating and tracking progress in one
    place. Did you know we're one of the first com-
    panies to offer an EU hosting option for our
    European customers.
  </p>
  <button class="read-more"><h2>Read More</h2></button>
</header>

<!-- Section 1 -->
<section class="sectionOne">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-5">
        <h1 style="z-index:9999; position:relative;">
          We Create Digital Solutions That Help<br />
          The Business Leaders To Monitor More<br />
          To Have The Full Control.
        </h1>
        <!--icons-->
        <div class="text-center">
          <div class="row">
            <div class="col-6 px-3">
              <img src="./assets/img/icons/icon2.png" />
              <h2 class="pt-3">Responsive Layout</h2>
            </div>
            <div class="col-6">
              <img src="./assets/img/icons/icon3.png" />
              <h2 class="pt-3">Fully Customizable</h2>
            </div>
          </div>
          <div class="row" style="margin-top:20%;">
            <div class="col-6">
              <img src="./assets/img/icons/icon1.png" />
              <h2 class="pt-3">Parallax Support</h2>
            </div>
            <div class="col-6">
              <img src="./assets/img/icons/icon2.png" />
              <h2 class="pt-3">Responsive Layout</h2>
            </div>
          </div>
        </div>
        <!--End of icons-->
      </div>
      <!--Background image-->
      <div class="col-7">
        <img src="./assets/img/solutionscover.png" style="width:100%; z-index:0;" class="mt-5" />
      </div>
    </div>
  </div>
</section>
<!--End of section 1-->
<!--Section 2 -Solutions- -->
<section class="sectionTwo">
  <h1 class="display-4 p-5">Our Solutions </h1>
  <div class="title-list">
    <h2 class="solution-tab active" (click)="ViewSolution('all')" id="all">Show All</h2>
    <h2 class="solution-tab" (click)="ViewSolution('branded-ecommerce')" id="branded-ecommerce">BRANDED ECOMMERCE</h2>
    <h2 class="solution-tab" (click)="ViewSolution('digital-experience')" id="digital-experience"> DIGITAL EXPERIENCES</h2>
    <h2 class="solution-tab" (click)="ViewSolution('branding-strategy')" id="branding-strategy"> BRANDING STRATEGY</h2>
  </div>

  <div class="text-center" style="overflow: hidden;">
    <div class="row m-lg-5">
      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="digital-experience">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center"><h2>Read More</h2></button></div></div></div>
            <img src="./assets/img/solutions/solution1.png" class="img-fluid" alt="solutions" />
          </div>
          <h2>Digital Experience</h2>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="branded-ecommerce">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center"><h2>Read More</h2></button></div></div></div>
            <img src="./assets/img/solutions/solution2.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2>Branded E-Commerce</h2>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="branding-strategy">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center"><h2>Read More</h2></button></div></div></div>
            <img src="./assets/img/solutions/solution3.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2>Branding Strategy</h2>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="branding-strategy">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center"><h2>Read More</h2></button></div></div></div>
            <img src="./assets/img/solutions/solution4.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2>Branding Strategy</h2>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="branding-strategy">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center"><h2>Read More</h2></button></div></div></div>
            <img src="./assets/img/solutions/solution5.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2>Branding Strategy</h2>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="news-container p-0 p-lg-4" data-id="branding-strategy">
          <div style="position:relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.31);">
            <div class="container-overlay"><div class="row"><div class="col-12"><button class="read-more text-center"><h2>Read More</h2></button></div></div></div>
            <img src="./assets/img/solutions/solution6.jpg" class="img-fluid" alt="solutions" />
          </div>
          <h2>Branding Strategy</h2>
        </div>
      </div>

    </div>
  </div>
</section>
<!--End of Solutions Section-->
<!--Section Three -Latest News- -->
<section class="sectionThree">
  <h1 class="display-4 p-5">Be Updated With Our Latest News.</h1>
  <!--Latest News Slider-->
  <app-image-slider></app-image-slider>
</section>
<!--End of Latest News-->
<!--Our Clients Section-->
<app-clients></app-clients>
