<main>
  <section id="bg" class="pb-5">

    <div id="content">
      <h1>
        "Great Things In Business Are Never Done By One Person.
        They're Done By A Team"
      </h1>
    </div>
  </section>

  <section id="board">
    <h1>
      We are proud to share our great team members.
    </h1>
    <h3>
      We can all do small things, with great love, and together we can do something wonderful.
    </h3>
    <div class="row mt-5">

      <div class="col-3 text-center ">
        <div class="mb-5 img-container">
          <img src="./assets/img/team/Group 9.png" />
        </div>
        <h2>
          Mohammed Ali
        </h2>
        <p class="text-center pt-4">
          Graphic Designer
        </p>
      </div>

      <div class="col-3 text-center ">
        <div class="mb-5 img-container">
          <img src="./assets/img/team/Group 8.png" />
        </div>
        <h2>
          Youssef Nabil
        </h2>
        <p class="text-center pt-4">
          UI/UX Designer
        </p>
      </div>

      <div class="col-3 text-center">
        <div class="mb-5 img-container">
          <img src="./assets/img/team/Group 7.png" />
        </div>
        <h2>
          Ahmed Omar
        </h2>
        <p class="text-center pt-4">
          Full Stack Dev.
        </p>
      </div>
      <div class="col-3 text-center ">
        <div class="mb-5 img-container">
          <img src="./assets/img/team/Group 6.png" />
        </div>
        <h2>
          Nasser Amin
        </h2>
        <p class="text-center pt-4">
          Full Stack Dev.
        </p>
      </div>
    </div>
    <!--Teams Section-->
    <section id="teams" class="ml-5">
      <!--Selection-->
      <div class="row mt-3">
        <div class="col-2 text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('tech')">
            <img src="./assets/img/team/Group 11.png" />
          </div>
        </div>
        <div class="col-2 text-center">
          <div class="mb-2 img-container selectionButton">
            <img src="./assets/img/team/Group 10.png" />
          </div>
        </div>
        <div class="col-2 text-center">
          <div class="mb-2 img-container selectionButton">
            <img src="./assets/img/team/Group 10.png" />
          </div>
        </div>
      </div>
      <!--Team Row-->
      <div  id="dynamicTeam">
        <div class="row">
          <div class="col-2 text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/team/Group 9.png" />
            </div>
            <h2>
              Mohammed Ali
            </h2>
            <p class="text-center pt-4">
              Graphic Designer
            </p>
          </div>
          <div class="col-2 text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/team/Group 8.png" />
            </div>
            <h2>
              Mohammed Ali
            </h2>
            <p class="text-center pt-4">
              Graphic Designer
            </p>
          </div>
          <div class="col-2 text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/team/Group 7.png" />
            </div>
            <h2>
              Mohammed Ali
            </h2>
            <p class="text-center pt-4">
              Graphic Designer
            </p>
          </div>
          <div class="col-2 text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/team/Group 6.png" />
            </div>
            <h2>
              Mohammed Ali
            </h2>
            <p class="text-center pt-4">
              Graphic Designer
            </p>
          </div>
          <div class="col-2 text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/team/Group 9.png" />
            </div>
            <h2>
              Mohammed Ali
            </h2>
            <p class="text-center pt-4">
              Graphic Designer
            </p>
          </div>
          <div class="col-2 text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/team/Group 8.png" />
            </div>
            <h2>
              Mohammed Ali
            </h2>
            <p class="text-center pt-4">
              Graphic Designer
            </p>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
