<main>
  <section id="bg" class="pb-5">

    <div id="content">
      <h1>
        "Great Things In Business Are Never Done By One Person.<br />
        They're Done By A Team"
      </h1>
    </div>
  </section>

  <section id="board">
    <h1>
      We are proud to share our great team members.
    </h1>
    <h3>
      We can all do small things, with great love, and together we can do something wonderful.
    </h3>
    <div class="row mt-5">

      <div class="col-6 col-lg text-center ">
        <div class="mb-5 img-container">
          <img src="./assets/img/teams/ahmed hassan.png" />
        </div>
        <h2>
          Ahmed Hassan
        </h2>
        <p class="text-center pt-4">
          Software Engineer
        </p>
      </div>

      <div class="col-6 col-lg text-center ">
        <div class="mb-5 img-container">
          <img src="./assets/img/teams/mohammed ragab.png" />
        </div>
        <h2>
          Mohammed Ragab
        </h2>
        <p class="text-center pt-4">
          Business Analyst
        </p>
      </div>

      <div class="col-12 col-lg text-center">
        <div class="mb-5 img-container">
          <img src="./assets/img/teams/jamie.png" />
        </div>
        <h2>
          Jamie Halpin
        </h2>
        <p class="text-center pt-4">
          Marketing Lead
        </p>
      </div>
    </div>
    <!--Teams Section-->
    <section id="teams" class="ml-lg-5">
      <!--Selection-->
      <div class="row mt-3">
        <div class="col-4 col-lg text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('technicalTeam')">
            <img src="./assets/img/team/{{technicalTeamImage}}.png" />
          </div>
        </div>
        <div class="col-4 col-lg text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('marketingTeam')">
            <img src="./assets/img/team/{{marketingTeamImage}}.png" />
          </div>
        </div>
        <div class="col-4 col-lg text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('qaTeam')">
            <img src="./assets/img/team/{{qaTeamImage}}.png" />
          </div>
        </div>
        <div class="col-4 col-lg text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('uiTeam')">
            <img src="./assets/img/team/{{uiTeamImage}}.png" />
          </div>
        </div>
        <div class="col-4 col-lg text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('businessTeam')">
            <img src="./assets/img/team/{{businessTeamImage}}.png" />
          </div>
        </div>
        <div class="col-4 col-lg text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('pmTeam')">
            <img src="./assets/img/team/{{pmTeamImage}}.png" />
          </div>
        </div>
      </div>
      <!--Team Rows-->
      <!--Technical Team-->
      <div id="technicalTeam">
        <div class="row">
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/yasmina.png" />
            </div>
            <h2>
              Yasmin Ghazy
            </h2>
            <p class="text-center pt-4">
              Software Engineer
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/nader.png" />
            </div>
            <h2>
              Nader Hosny
            </h2>
            <p class="text-center pt-4">
              Software Engineer
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/moataz.png" />
            </div>
            <h2>
              Moataz Yassin
            </h2>
            <p class="text-center pt-4">
              Software Engineer
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/bandarawy.png" />
            </div>
            <h2>
              Ahmed El-Bandarawy
            </h2>
            <p class="text-center pt-4">
              Software Engineer
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/default.png" />
            </div>
            <h2>
              Amr Moushtaha
            </h2>
            <p class="text-center pt-4">
              Software Engineer
            </p>
          </div>
          <!--<div class="col-6 col-lg-2 text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/team/Group 8.png" />
            </div>
            <h2>
              Mohammed Ali
            </h2>
            <p class="text-center pt-4">
              Graphic Designer
            </p>
          </div>-->
        </div>
      </div>
      <!--Marketing Team-->
      <div id="marketingTeam">
        <div class="row ">
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/default.png" />
            </div>
            <h2>
              Youssef Dawood
            </h2>
            <p class="text-center pt-4">
              Creative/Art Director
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/tarek.png" />
            </div>
            <h2>
              Mohammed Tarek
            </h2>
            <p class="text-center pt-4">
              2D/Motion Designer
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/fishawy.png" />
            </div>
            <h2>
              Mahmoud El-Fishawy
            </h2>
            <p class="text-center pt-4">
              Video Editor
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/reem.png" />
            </div>
            <h2>
              Reem Abo El-Makarem
            </h2>
            <p class="text-center pt-4">
              Marketing Team
            </p>
          </div>
        </div>
      </div>
      <!--Business Team-->
      <div id="businessTeam">
        <div class="row ">
          <div class="col-12 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/hossam.png" />
            </div>
            <h2>
              Mohammed Hossam
            </h2>
            <p class="text-center pt-4">
              Product Owner
            </p>
          </div>
        </div>
      </div>
      <!--QA/QC Team-->
      <div id="qaTeam">
        <div class="row ">
          <div class="col-12 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/default.png" />
            </div>
            <h2>
              Mohammed Adel
            </h2>
            <p class="text-center pt-4">
              AVP - QA/QC Lead
            </p>
          </div>
        </div>
      </div>
      <!--UI/UX Team-->
      <div id="uiTeam">
        <div class="row ">
          <div class="col-12 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/medhat.png" />
            </div>
            <h2>
              Mohammed Medhat
            </h2>
            <p class="text-center pt-4">
              UI/UX Designer
            </p>
          </div>
        </div>
      </div>
      <!--Project Management Team-->
      <div id="pmTeam">
        <div class="row ">
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/youssef.png" />
            </div>
            <h2>
              Youssef
            </h2>
            <p class="text-center pt-4">
              Project Manager
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/heba.png" />
            </div>
            <h2>
              Hiba Chnawra
            </h2>
            <p class="text-center pt-4">
              Project Manager
            </p>
          </div>
        </div>
      </div>
      <!--End of Teams-->
    </section>
  </section>
</main>
