<main>
  <section id="bg" class="pb-5">

    <div id="content">
      <h1>
        "{{langHelper.team.content. h1_1}}<br />
        {{langHelper.team.content. h1_2}}"
      </h1>
    </div>
  </section>

  <section id="board">
    <h1>
      {{langHelper.team.board. h1}}
    </h1>
    <h3>
      {{langHelper.team.board. h3}}
    </h3>
    <div class="row mt-5">

      <div class="col-6 col-lg text-center ">
        <div class="mb-5 img-container">
          <img src="./assets/img/teams/ahmed hassan.png" />
        </div>
        <h2>
          {{langHelper.team.h2}}
        </h2>
        <p class="text-center pt-4">
          {{langHelper.team.p}}
        </p>
      </div>
      <div class="col-12 col-lg text-center">
        <div class="mb-5 img-container">
          <img src="./assets/img/teams/jamie.png" />
        </div>
        <h2>
          {{langHelper.team.h2_3}}
        </h2>
        <p class="text-center pt-4">
          {{langHelper.team.p3}}
        </p>
      </div>
    </div>
    <!--Teams Section-->
    <section id="teams" class="ml-lg-5">
      <!--Selection-->
      <div class="row mt-3">
        <div class="col-4 col-lg text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('technicalTeam')">
            <img src="./assets/img/team/{{technicalTeamImage}}.png" />
          </div>
        </div>
        <div class="col-4 col-lg text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('marketingTeam')">
            <img src="./assets/img/team/{{marketingTeamImage}}.png" />
          </div>
        </div>
        <div class="col-4 col-lg text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('qaTeam')">
            <img src="./assets/img/team/{{qaTeamImage}}.png" />
          </div>
        </div>
        <div class="col-4 col-lg text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('uiTeam')">
            <img src="./assets/img/team/{{uiTeamImage}}.png" />
          </div>
        </div>
        <div class="col-4 col-lg text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('businessTeam')">
            <img src="./assets/img/team/{{businessTeamImage}}.png" />
          </div>
        </div>
        <div class="col-4 col-lg text-center">
          <div class="mb-2 img-container selectionButton" (click)="DisplayTeam('pmTeam')">
            <img src="./assets/img/team/{{pmTeamImage}}.png" />
          </div>
        </div>
      
      </div>
      <!--Team Rows-->
      <!--Technical Team-->
      <div id="technicalTeam">
        <div class="row">
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/yasmina.png" />
            </div>
            <h2>
              {{langHelper.team.technicalTeam.h2}}
            </h2>
            <p class="text-center pt-4">
              {{langHelper.team.technicalTeam.p}}
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/nader.png" />
            </div>
            <h2>
              {{langHelper.team.technicalTeam. h2_2}}
            </h2>
            <p class="text-center pt-4">
              {{langHelper.team.technicalTeam.p}}
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/moataz.png" />
            </div>
            <h2>
              {{langHelper.team.technicalTeam.h2_3}}
            </h2>
            <p class="text-center pt-4">
              {{langHelper.team.technicalTeam.p}}
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/bandarawy.png" />
            </div>
            <h2>
              {{langHelper.team.technicalTeam. h2_4}}
            </h2>
            <p class="text-center pt-4">
              {{langHelper.team.technicalTeam.p}}
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/moushtaha.png" />
            </div>
            <h2>
              {{langHelper.team.technicalTeam. h2_5}}
            </h2>
            <p class="text-center pt-4">
              {{langHelper.team.technicalTeam.p}}
            </p>
          </div>
          <!--<div class="col-6 col-lg-2 text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/team/Group 8.png" />
            </div>
            <h2>
              Mohammed Ali
            </h2>
            <p class="text-center pt-4">
              Graphic Designer
            </p>
          </div>-->
        </div>
      </div>
      <!--Marketing Team-->
      <div id="marketingTeam">
        <div class="container" style="display:block">
          <div class="row">
            <div class="col-6 col-lg text-center ">
              <div class="mb-2 img-container">
                <img src="./assets/img/teams/wiki.png" />
              </div>
              <h2>
                {{langHelper.team.marketingTeam.h2}}
              </h2>
              <p class="text-center pt-4">
                {{langHelper.team.marketingTeam.p}}
              </p>

            </div>
            <div class="col-6 col-lg text-center ">
              <div class="mb-2 img-container">
                <img src="./assets/img/teams/tarek.png" />
              </div>
              <h2>
                {{langHelper.team.marketingTeam.h2_2}}
              </h2>
              <p class="text-center pt-4">
                {{langHelper.team.marketingTeam.p2}}
              </p>
            </div>
            <div class="col-6 col-lg text-center ">
              <div class="mb-2 img-container">
                <img src="./assets/img/teams/fishawy.png" />
              </div>
              <h2>
                {{langHelper.team.marketingTeam.h2_4}}
              </h2>
              <p class="text-center pt-4">
                {{langHelper.team.marketingTeam.p2_3}}
              </p>
            </div>
            <div class="col-6 col-lg text-center ">
              <div class="mb-2 img-container">
                <img class="salesImg" src="./assets/img/teams/NORAN.png" />
              </div>
              <h2>
                {{langHelper.team.marketingTeam.h2_3}}
              </h2>
              <p class="text-center pt-4">
                {{langHelper.team.marketingTeam.p4}}
              </p>
            </div>
          </div>
        </div>
        <div class="container salesTeamContainer">
          <div class="row">
            <div class="col-6 col-lg text-center ">
              <div class="mb-2 img-container ">
                <img class="salesImg" src="./assets/img/teams/shimaa-01.png" />
              </div>
              <h2>
                {{langHelper.team.SalesTeam.h2_2}}
              </h2>
              <p class="text-center pt-4">
                {{langHelper.team.SalesTeam.p2}}
              </p>

            </div>
            <div class="col-6 col-lg text-center ">
              <div class="mb-2 img-container">
                <img src="./assets/img/teams/mina.png" />
              </div>
              <h2>
                {{langHelper.team.SalesTeam.h2}}
              </h2>
              <p class="text-center pt-4">
                {{langHelper.team.SalesTeam.p}}
              </p>
            </div>
           
          </div>
        </div>
      </div>
      <!--Business Team-->
      <div id="businessTeam">
        <div class="row ">
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/amin.png" />
            </div>
            <h2>
              {{langHelper.team.businessTeam.h2}}
            </h2>
            <p class="text-center pt-4">
              {{langHelper.team.businessTeam.p}}
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/hossam.png" />
            </div>
            <h2>
              {{langHelper.team.businessTeam.h2_2}}
            </h2>
            <p class="text-center pt-4">
              {{langHelper.team.businessTeam.p}}
            </p>
          </div>
        </div>
      </div>
      <!--QA/QC Team-->
      <div id="qaTeam">
        <div class="row ">
          <div class="col-12 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/adel.png" />
            </div>
            <h2>
              {{langHelper.team.qaTeam.h2}}
            </h2>
            <p class="text-center pt-4">
              {{langHelper.team.qaTeam.p}}
            </p>
          </div>
        </div>
      </div>
      <!--UI/UX Team-->
      <div id="uiTeam">
        <div class="row ">
          <div class="col-12 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/medhat.png" />
            </div>
            <h2>
              {{langHelper.team.uiTeam.h2}}
            </h2>
            <p class="text-center pt-4">
              {{langHelper.team.uiTeam.p}}
            </p>
          </div>
        </div>
      </div>
      <!--Project Management Team-->
      <div id="pmTeam">
        <div class="row ">
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/youssef.png" />
            </div>
            <h2>
              {{langHelper.team.pmTeam.h2}}
            </h2>
            <p class="text-center pt-4">
              {{langHelper.team.pmTeam.p}}
            </p>
          </div>
          <div class="col-6 col-lg text-center ">
            <div class="mb-2 img-container">
              <img src="./assets/img/teams/heba.png" />
            </div>
            <h2>
              {{langHelper.team.pmTeam.h2_2}}
            </h2>
            <p class="text-center pt-4">
              {{langHelper.team.pmTeam.p}}
            </p>
          </div>
        </div>
      </div>
      <!--End of Teams-->
    </section>
  </section>
</main>
