

<main>

  <section id="bg" class="pb-5">
  </section>

  <section class="px-lg-5 p-3" id="desc">

    <h1>
      {{langHelper.h1}}
    </h1>
    <p>
      {{langHelper.p2}}

    </p>
    
    <h1 style="color: #408ed1">
      {{langHelper.Benefits}}
    </h1>
    <ul>
      <li>{{langHelper.Benefits1}}</li>
      <li>{{langHelper.Benefits2}}</li>
      <li>{{langHelper.Benefits3}}</li>
      <li>{{langHelper.Benefits4}}</li>
      <li>{{langHelper.Benefits5}}</li>
     
    </ul>
  </section>
 
</main>
