

<main>

  <section id="bg" class="pb-5">
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      Digital Transformation
    </h1>
    <p>
      Keeping up with the digital transformation initiatives by providing our clients what make them updated with new digital trends using our digital services
    </p>
  </section>
  <!--<section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4 ">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>


    </div>
  </section>-->
</main>
