

<main>

  <section id="bg" class="pb-5">
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      BOLT DOCTOR
    </h1>
    <p>
      It is a Web-based application that allows individuals to book appointments online through any web-connected device,
      such as a computer, laptop, smartphone, or tablet. It lets the client choose from different doctors, Specialty,
      how long is he going to wait and how much is he going to pay.
      Moreover, the system is integrated with third-party companies so that the customer can give feedback about his experience.

    </p>
  </section>
  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>Saves your staff time</h2>
          <p>
            An automated system saves valuable working time for medical staff.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Gives your Visitors more choices</h2>
          <p>
            your visitor can choose from different doctors in the same specialty, view the profile of the doctor,
            add a Payment option, fill in Feedback forms,
            also they can get reminders of the appointment and the system shows the average waiting time for every doctor.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Saves Resources</h2>
          <p>
            The expenses accepted for manual appointments and bookings are suspended.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Automated reminders</h2>
          <p>
            The reminders on automated systems reduce the incidences of missed appointments by approximately 50%.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Flexible to use</h2>
          <p>
            Book anytime, from anywhere Patients, are not limited to any specific office-timings, and bookings can be done round the clock at any time, from anywhere.
            Kiosk software/ QR Code at the clinic to confirm the booking by entering the name of the patient or scan the QR Code.

          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Online booking</h2>
          <p>
            A more Convenient Approach Going online is an easy way of life. People take alternatives to online transactions for a safer, convenient, and smoother way of life. Making online appointments saves patients from the hassles and enhances their experience.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Efficient Information Management</h2>
          <p>
            An online system effectively registers all vital information of patients allowing you to give up from manual entries resulting in chances of errors. Managing vital information online lets you manage them efficiently and more accurately.
          </p>
        </div>
      </div>

     


    </div>
  </section>
</main>
