<main>

  <section id="bg" class="pb-5">
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>{{langHelper.header.h1}}
    </h1>
    <p>{{langHelper.header.p}}
    </p>
    <p>{{langHelper.header.p2}}
    </p>
  </section>

  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">
          <div class="benefitsImgContainer"><div class="iconBenefit1"></div></div>
          <h2>{{langHelper.cards.card1.title}}</h2>
          <p>
            {{langHelper.cards.card1.desc}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefitsImgContainer"><div class="iconBenefit2"></div></div>

          <h2>{{langHelper.cards.card2.title}}</h2>
          <p>
            {{langHelper.cards.card2.desc}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefitsImgContainer"><div class="iconBenefit3"></div></div>
          <h2>{{langHelper.cards.card3.title}}</h2>
          <p>
            {{langHelper.cards.card3.desc}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefitsImgContainer"><div class="iconBenefit4"></div></div>

          <h2>{{langHelper.cards.card4.title}}</h2>
          <p>
            {{langHelper.cards.card4.desc}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefitsImgContainer"><div class="iconBenefit5"></div></div>

          <h2>{{langHelper.cards.card5.title}}</h2>
          <p>
            {{langHelper.cards.card5.desc}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefitsImgContainer"><div class="iconBenefit6"></div></div>

          <h2>{{langHelper.cards.card6.title}}</h2>
          <p>
            {{langHelper.cards.card6.desc}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefitsImgContainer"><div class="iconBenefit7"></div></div>

          <h2>{{langHelper.cards.card7.title}}</h2>
          <p>
            {{langHelper.cards.card7.desc}}
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefitsImgContainer"><div class="iconBenefit8"></div></div>

          <h2>{{langHelper.cards.card8.title}}</h2>
          <p>
            {{langHelper.cards.card8.desc}}
          </p>
        </div>
      </div>

    </div>
  </section>
</main>
