

<main>

  <section id="bg" class="pb-5">
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      BOLT DOCTOR
    </h1>
    <p>
      It is a Web-based application that allows individuals to book appointments online through any web-connected device,
      such as a computer, laptop, smartphone, or tablet. It lets the client choose from different doctors, Specialty,
      how long is he going to wait and how much is he going to pay.
      Moreover, the system is integrated with third-party companies so that the customer can give feedback about his experience.

    </p>
  </section>
  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img-1"></div>

          <h2>Saves your staff time</h2>
          <p>
            An automated system saves valuable working time for medical staff.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img-2"></div>

          <h2>Gives your Visitors more choices</h2>
          <p>
            visitor can choose from different doctors in the same specialty, view the profile of the doctor,
            add a Payment option, fill in Feedback forms,
            also they can get reminders of the appointment.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img-3"></div>

          <h2>Saves Resources</h2>
          <p>
            The expenses accepted for manual appointments and bookings are suspended.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img-4"></div>

          <h2>Automated reminders</h2>
          <p>
            The reminders on automated systems reduce the incidences of missed appointments by approximately 50%.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img-5"></div>

          <h2>Flexible to use</h2>
          <p>
            Book anytime, Patients are not limited to any specific office-timings,

            and can be done around the clock, from anywhere.
            

          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img-6"></div>

          <h2>Online booking</h2>
          <p>
            Making online appointments saves patients from the hassles and enhances their experience.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img-7"></div>

          <h2>Efficient Information Management</h2>
          <p>
            Managing vital information online lets you manage them efficiently and more accurately.
          </p>
        </div>
      </div>

     


    </div>
  </section>
</main>
