<!--Bootstrap Navigation Component-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <!--Brand-->
  <img class="navbar-brand" src="./assets/img/bolt.png" alt="bolt-solutions" routerLink="/home"> 

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="home">
        <a class="nav-link" (click)="Navigate('home')">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" id="about">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="Navigate('about-us')">About The Company</a>
          <a class="dropdown-item" (click)="Navigate('about-us/about-team')">About The Team</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="Navigate('services')">Action</a>
          <a class="dropdown-item" (click)="Navigate('services')">Another action</a>
          <a class="dropdown-item" (click)="Navigate('services')">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown" id="products">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!--<div class="dropdown-divider"></div>-->
          <a class="dropdown-item" (click)="Navigate('products')">ERP</a>
          <a class="dropdown-item" (click)="Navigate('products')">CRM</a>
          <a class="dropdown-item" (click)="Navigate('mobApp')">Mobile Application</a>
          <a class="dropdown-item" (click)="Navigate('products')">Website Platform</a>
        </div>
      </li>
      <li class="nav-item" id="contact-us">
        <a class="nav-link" (click)="Navigate('contact-us')">Contact Us</a>
      </li>
      <li class="nav-item" id="news">
        <a class="nav-link" (click)="Navigate('news')">News</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-primary my-2 my-sm-0 {{languageStyle}}" type="submit" style="font-family: 'Almarai', sans-serif;">العربية</button>
    </form>
  </div>
</nav>
