.navbar-brand{
    width:200px;
    margin-right: 4rem;
}
.fixed-top{
    position: absolute !important;
}
//Override Nav default color
nav {
    background: none !important;
}
.btn-outline-primary{
    border-color: white;
    color: white;
    font-size: 22px;
}
.nav-link {
  font-size: 30px;
  margin: 40px;
  cursor: pointer;
  font-family: 'CenturyGothic', sans-serif;
}

@media screen and (max-width: 700px) {

  .navbar-brand {
    width: 100px;
  }
}
