.navbar-brand {
  width: 140px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.fixed-top {
  position: absolute;
}
//Override Nav default color
nav {
  background: none !important;
}

li {
  margin:37px;
}
.btn-outline-primary {
  border-color: white;
  color: white;
  font-size: 20px;
}
.arabicNavItem{
  li{
    margin:37px;
  }

}
.nav-link {
  color: white !important;
  font-size: 24px; 
  padding: 0;
  cursor: pointer;
  font-family: 'CenturyGothic', sans-serif;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.arabicFont{
  .nav-link{
    font-family: 'Cairo-Regular', sans-serif !important;
  }

}
#about .nav-link:focus, #products .nav-link:focus, #services .nav-link:focus {
  /*  background-color: rgba(0, 0, 0, 0.6);*/
    border-bottom: solid 0.5px lightgrey;
}
.lang-blue {
  border-radius: 14px;
  border-color: #759fdb !important;
  color: #759fdb !important;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.lang-default {
  border-radius: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

//Override dropdown menu style
.dropdown-menu {
  top: 73px;
  left: 10px;
  padding: 9px;
  background-color: rgba(0,0,0,0.6);
}
#products .dropdown-menu {
  top: -3px;
  left: -26px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1 !important;
  padding-top: 40px;
}
#navbarDropdown {
  z-index: 999999 !important;
  position: relative !important;
}

.dropdown-toggle:focus:after{
   transform:rotate(180deg);
   opacity: 1;
   transition: all 0.5s;
}
.dropdown-toggle:after {
  content: '';
  background: url("../../../../assets/img/nav-arrow.png");
  background-position: center center;
  background-size: cover;
  top: 15px;
  height: 10px;
  width: 10px;
  vertical-align: central;
  position: absolute;
  opacity: 0.5;
  content: "";
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  transition: all 0.5s;
}
.dropdown-toggle-arabic:focus:after{
  transform:rotate(180deg);
  opacity: 1;
  transition: all 0.5s;
}
.dropdown-toggle-arabic:after {
  content: '';
  background: url("../../../../assets/img/nav-arrow.png");
  background-position: center center;
  background-size: cover;
  top: 15px;
  left: -13px;
  height: 10px;
  width: 10px;
  vertical-align: central;
  position: absolute;
  opacity: 0.5;
  content: "";
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  transition: all 0.5s;
}
#services .dropdown-menu {
  top: -3px;
  left: -26px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1 !important;
  padding-top: 40px;
}
#about .dropdown-menu {
  top: -3px;
  left: -26px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1 !important;
  padding-top: 40px;
}
#about .nav-link {
  padding-right: 18px;
}
#about .dropdown-item {
  padding: 0.3rem 1rem !important;
}

#services .dropdown-item {
  padding: .3rem 0rem !important;
}


.dropdown-item {
  color: #ffff;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: transparent !important;
}
//Transitions and animations
.navbar-brand:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.nav-link:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.lang-default:hover, .lang-blue:hover {
  background-color: transparent !important;
  transform: scale(1.1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

@media screen and (max-width: 1024px) {
  
  .navbar {
    background-color: rgba(0,0,0,0.6);
  }
  .navbar-brand {
    width: 100px;
  }
  .dropdown-menu{
      background-color: transparent !important;
      padding: 0 !important;
      border: none !important;
  }
  #about .nav-link:focus, #products .nav-link:focus, #services .nav-link:focus {
    border-bottom: none;
  }
  .NavbarDropMobile {
    position: fixed !important;
    bottom: 0;
    background-color: rgba(0,0,0,0.8) !important;
    text-align: center;
    z-index: 9999999;
    #langButton {
      margin: 0 auto;
    }

    .nav-link {
      font-size: 26px;
    }
  }
  .navbar-dark .navbar-toggler {
    border: none !important;
  }
  #navbarSupportedContent{
      padding-bottom: 30%;
  }
  /*  li
  {
      margin:unset !important;
  }*/
  #about .dropdown-item {
    padding: 0.3rem 5.8rem !important;
  }
  #services .dropdown-item {
    padding: 0.3rem 5.8rem !important;
  }
  #products .dropdown-item {
    padding: 0.3rem 5.8rem !important;
  }
}
@media only screen and (max-device-width: 360px) {
  li {
    margin: 5px !important;
  }
  .dropdown-menu {
    background-color: transparent !important;
    padding: 0 !important;
    border: none !important;
  }

  #about .nav-link:focus, #products .nav-link:focus, #services .nav-link:focus {
    border-bottom: none;
  }
}
nav .collapse.show {

}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media only screen and (max-device-width: 450px){
  .dropdown-toggle-arabic:after {
    left: 40px;
  }

}