

<main>

  <section id="bg" class="pb-5">

  
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      Enterprise Resource Planning ( ERP )
    </h1>
    <p>
      Enterprise Resource Planning (ERP), it’s a software that merges different
      modules into one complete system that streamline process and information across the entire organization.
      These core constructs are then interconnected with business processes
      driven by workflows across business departments (e.g., Finance, Inventory, human resources, CRM, marketing, operations),
      connecting systems and the people who use them.

    </p>
  </section>
  
</main>
