

<main>

  <section id="bg" class="pb-5">

  
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      Enterprise Resource Planning ( ERP )
    </h1>
    <p>
      Enterprise Resource Planning (ERP), it’s a software that merges different
      modules into one complete system that streamline process and information across the entire organization.
      These core constructs are then interconnected with business processes
      driven by workflows across business departments (e.g., Finance, Inventory, human resources, CRM, marketing, operations),
      connecting systems and the people who use them.

    </p>
  </section>
  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4 ">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>Responsive Layout</h2>
          <p>
            Instant payment is one of the more
            impressive things QR codes can do.
          </p>
        </div>
      </div>


    </div>
  </section>
</main>
