

<main>

  <section id="bg" class="pb-5">

  
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      {{langHelper.h1}}
    </h1>
    <p>
      {{langHelper.p}}
    </p>
    <h1>
      {{langHelper.Benefits}}
    </h1>
    <p>
      {{langHelper.benefitsWords}}
    </p>
    <h1>
      {{langHelper.Features}}
    </h1>
    <p>
      {{langHelper.accountFeature}}
    </p>
    <ul>
      <li>{{langHelper.accountFeatures2}}</li> 
      <li>{{langHelper.accountFeatures3}}</li> 
      <li>{{langHelper.accountFeatures4}}</li> 
      <li>{{langHelper.accountFeatures5}}</li> 
      <li>{{langHelper.accountFeatures6}}</li> 
      <li>{{langHelper.accountFeatures7}}</li> 
      <li>{{langHelper.accountFeatures8}}</li> 
      <li>{{langHelper.accountFeatures9}}</li> 
    </ul>
  </section>
  
</main>
