

<main>

  <section id="bg" class="pb-5">
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      BOLT SALON
    </h1>
    <p>
      It’s a web development system that helps the customer to have a better experience than any traditional barbers.
      It lets the client choose his barber, the type of service he wants,
      how long is he going to wait and how much is he going to pay.
      Moreover,
      the system is integrated with third-party companies so that the customer can give feedback about his experience.
      Not only the customer who is going to gain from this system but also the owner too by providing the oversee of barbers,
      the ques, reports, and the feedback reviews.

    </p>
  </section>
  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>Time-saving</h2>
          <p>
            Save time for the customer because of the queuing system.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Automated reminders</h2>
          <p>
            The reminders on automated systems reduce the incidences of missing the reservation.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>More than a choice</h2>
          <p>
            Allows the client to choose the barber.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Customer Feedback</h2>
          <p>
            Your customer can send feedback about his experience.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Satisfaction</h2>
          <p>
            Increase customer satisfaction and get more loyal customers.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Monitoring</h2>
          <p>
            Helps the manager to monitor the invoices.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Saving Resources</h2>
          <p>
            The expenses accepted for manual appointments and bookings are suspended.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4 ">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>more control</h2>
          <p>
            Control the Inventory and manage the retail,
            also service management as the admin can add, edit or remove and service he wants.
          </p>
          <p>
            The system Showing how many barbers are working and their status,
            the invoices that were made through the day,
            also Illustration the services that were done by the client.


          </p>


        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>more data</h2>
          <p>
            Build your customer database.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>High quality</h2>
          <p>
            Improve the quality rate of your service.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>Efficiency</h2>
          <p>
            Improve your staff efficiency to reach your business goals.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>System Integration</h2>
          <p>
            Integration with third-party companies for ex: SMS, Email, banks, etc.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>Feedback management</h2>
          <p>
            to help the manager know which barber has more ratings.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>Offers</h2>
          <p>
            Offering promo code for clients.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>More tools for your customer</h2>
          <p>
            get more features for your customer starting from creating an account,
            adding a payment option, filling feedback forms, ratings and reviews also,
            the system can show the waiting time for the customers.
          </p>
        </div>
      </div>



    </div>
  </section>
</main>
