

<main>

  <section id="bg" class="pb-5">
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      BOLT SALON
    </h1>
    <p>
      It’s a web development system that helps the customer to have a better experience than any traditional barbers.
      It lets the client choose his barber, the type of service he wants,
      how long is he going to wait and how much is he going to pay.
      Moreover,
      the system is integrated with third-party companies so that the customer can give feedback about his experience.
      Not only the customer who is going to gain from this system but also the owner too by providing the oversee of barbers,
      the ques, reports, and the feedback reviews.

    </p>
  </section>
  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="TimeSaving"></div>

          <h2>Time-saving</h2>
          <p>
            Save time for the customer because of the queuing system.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="reminders"></div>

          <h2>Automated reminders</h2>
          <p>
            The reminders on automated systems reduce the incidences of missing the reservation.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="more"></div>

          <h2>More than a choice</h2>
          <p>
            Allows the client to choose the barber.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="rating"></div>

          <h2>Customer Feedback</h2>
          <p>
            Your customer can send feedback about his experience.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="satisfaction"></div>

          <h2>Satisfaction</h2>
          <p>
            Increase customer satisfaction and get more loyal customers.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="Monitoring"></div>

          <h2>Monitoring</h2>
          <p>
            Helps the manager to monitor the invoices.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="saveMoney"></div>

          <h2>Saving Resources</h2>
          <p>
            The expenses accepted for manual appointments and bookings are suspended.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="moredata"></div>

          <h2>more data</h2>
          <p>
            Build your customer database.
          </p>
        </div>
      </div>

    
    </div>
  </section>
</main>
