

<main>

  <section id="bg" class="pb-5">
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      {{langHelper.header.h1}}
    </h1>
    <p>

      {{langHelper.header.p}}
    </p>

    <!--<h4 style="color:#408ed1">
      {{langHelper.header.benefitsforCustomer}}
    </h4>
    <ul>
      <li> {{langHelper.header.benefitsforCustomer1}}</li>
      <li> {{langHelper.header.benefitsforCustomer2}}</li>
      <li> {{langHelper.header.benefitsforCustomer3}}</li>
      <li> {{langHelper.header.benefitsforCustomer4}}</li>
      <li> {{langHelper.header.benefitsforCustomer5}}</li>
    </ul>

    <h4 style="color:#408ed1">
      {{langHelper.header.BenefitsforAdmin}}
    </h4>
    <ul>
      <li> {{langHelper.header.BenefitsforAdmin1}}</li>
      <li> {{langHelper.header.BenefitsforAdmin2}}</li>
      <li> {{langHelper.header.BenefitsforAdmin3}}</li>
      <li> {{langHelper.header.BenefitsforAdmin4}}</li>
      <li> {{langHelper.header.BenefitsforAdmin5}}</li>
      <li> {{langHelper.header.BenefitsforAdmin6}}</li>
      <li> {{langHelper.header.BenefitsforAdmin7}}</li>
    </ul>
    <h4 style="color:#408ed1">
      {{langHelper.header.FeaturesForCustomer}}
    </h4>
    <ul>
      <li> {{langHelper.header.FeaturesForCustomer1}}</li>
      <li> {{langHelper.header.FeaturesForCustomer2}}</li>
      <li> {{langHelper.header.FeaturesForCustomer3}}</li>
      <li> {{langHelper.header.FeaturesForCustomer4}}</li>
      <li> {{langHelper.header.FeaturesForCustomer5}}</li>
      <li> {{langHelper.header.FeaturesForCustomer6}}</li>
    </ul>

    <h4 style="color:#408ed1">
      {{langHelper.header.FeaturesForAdmin}}
    </h4>
    <ul>
      <li> {{langHelper.header.FeaturesForAdmin1}}</li>
      <li> {{langHelper.header.FeaturesForAdmin2}}</li>
      <li> {{langHelper.header.FeaturesForAdmin3}}</li>
      <li> {{langHelper.header.FeaturesForAdmin4}}</li>
      <li> {{langHelper.header.FeaturesForAdmin5}}</li>
      <li> {{langHelper.header.FeaturesForAdmin6}}</li>
      <li> {{langHelper.header.FeaturesForAdmin7}}</li>
    </ul>-->
  </section>
  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefitsImgContainer"><img src="./assets/img/icons/benefitssalonicon1.png" class="iconDarkenFilter" /></div>

          <h2>{{langHelper.cards.card1.title}}</h2>
          <p>{{langHelper.cards.card1.desc}}</p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefitsImgContainer"><img src="./assets/img/icons/benefitssalonicon2.png" class="iconDarkenFilter" /></div>

          <h2>{{langHelper.cards.card2.title}}</h2>
          <p>
            {{langHelper.cards.card2.desc}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefitsImgContainer"><img src="./assets/img/icons/benefitssalonicon3.png" class="iconDarkenFilter" /></div>

          <h2>{{langHelper.cards.card3.title}}</h2>
          <p>
            {{langHelper.cards.card3.desc}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefitsImgContainer"><img src="./assets/img/icons/benefitssalonicon4.png" class="iconDarkenFilter" /></div>

          <h2>{{langHelper.cards.card4.title}}</h2>
          <p>{{langHelper.cards.card4.desc}}</p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefitsImgContainer"><img src="./assets/img/icons/benefitssalonicon5.png" class="iconDarkenFilter" /></div>

          <h2>{{langHelper.cards.card5.title}}</h2>
          <p>
            {{langHelper.cards.card5.desc}}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefitsImgContainer"><img src="./assets/img/icons/benefitssalonicon6.png" class="iconDarkenFilter" /></div>

          <h2>{{langHelper.cards.card6.title}}</h2>
          <p>
            {{langHelper.cards.card6.desc}}
          </p>
        </div>
      </div>

    
    </div>
  </section>
</main>
