<main dir="{{direction}}" class="pb-5">

  <div class="col-12 col-lg-10" id="content">

    <h1 class="{{langHelper.textAlignStyle}}">{{langHelper.h1}}</h1>
    <!--<p class="{{langHelper.textAlignStyle}}">
      {{langHelper.p}}
    </p>-->
  </div>
  <section class="container">
    <div class="row1 mb-5">

      <div class="logoContainer">
        <img src="./assets/partnerlogos/1.png" />
      </div>

      <div class="logoContainer">
        <img src="./assets/partnerlogos/2.png" />
      </div>

      <div class="logoContainer">
        <img src="./assets/partnerlogos/3.png" />
      </div>

      <div class="logoContainer">
        <img src="./assets/partnerlogos/4.png" />
      </div>
    </div>

    <!--<img  id="logo-2" src="./assets/partnerlogos/Magento.png" />
    <img  id="logo-3" src="./assets/partnerlogos/Sandwitsh.png" />
    <img  id="logo-4" src="./assets/partnerlogos/Untitled-1-01.png" />-->
  </section>
  <section class="container" style=" max-width: 971px;">
    <div class="row1">

      <div class="logoContainer">
        <img src="./assets/partnerlogos/5.png" />
      </div>

      <div class="logoContainer">
        <img src="./assets/partnerlogos/6.png" />
      </div>

      <div class="logoContainer">
        <img src="./assets/partnerlogos/7.png" />
      </div>
      <div class="logoContainer">
        <img style="margin-top: 17%;" src="./assets/partnerlogos/8.png" />
      </div>


    </div>
  </section>
  <hr class="mt-5" style="border-color: white; width: 80%; margin: 0 auto;"/>
</main>
