<main dir="{{direction}}" class="pb-5">

  <div class="col-12 col-lg-10" id="content">

    <h1 class="{{langHelper.textAlignStyle}}">{{langHelper.h1}}</h1>
    <!--<p class="{{langHelper.textAlignStyle}}">
      {{langHelper.p}}
    </p>-->
  </div>
  <section class="container">
    <div class="row1 mb-5">

      <div class="logoContainer">
        <img src="./assets/designer-assets/logos default/Sandwitsh.png" />
      </div>

      <div class="logoContainer">
        <img src="./assets/designer-assets/logos default/Sandwitsh.png" />
      </div>

      <div class="logoContainer">
        <img src="./assets/designer-assets/logos default/Sandwitsh.png" />
      </div>

      <div class="logoContainer">
        <img src="./assets/designer-assets/logos default/Untitled-1-01.png" />
      </div>
    </div>

    <!--<img  id="logo-2" src="./assets/designer-assets/logos default/Magento.png" />
    <img  id="logo-3" src="./assets/designer-assets/logos default/Sandwitsh.png" />
    <img  id="logo-4" src="./assets/designer-assets/logos default/Untitled-1-01.png" />-->
  </section>
  <section class="container" style=" max-width: 971px;">
    <div class="row1">

      <div class="logoContainer">
        <img src="./assets/designer-assets/logos default/Sandwitsh.png" />
      </div>

      <div class="logoContainer">
        <img src="./assets/designer-assets/logos default/Sandwitsh.png" />
      </div>

      <div class="logoContainer">
        <img src="./assets/designer-assets/logos default/Sandwitsh.png" />
      </div>

  
    </div>
  </section>
</main>
