//Imported fonts declarations
@font-face {
  font-family: CenturyGothic;
  src: url(assets/fonts/CenturyGothic.ttf) format("truetype");
}
@font-face {
  font-family: SitkaHeading;
  src: url(assets/fonts/SitkaB.ttc) format("truetype");
}
