html, body {
  width: 131% !important;
}

.container-fluid {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-y: hidden;

}
.bg-light {
  background-color: #e8e8e9 !important;
}


.col-lg-6 {
  padding: 0;
}
.TitleNews {
  color: white;
  font-family: 'Raleway';
  padding-top: 15%;
  padding-left: 12%;
  font-weight: 800;
}
.ContentNews {
  color: white;
  font-family: century-gothic, sans-serif;
  font-size: 15px;
  width: 90%;
  padding-left: 12%;
}
.TitleOFLatestNews {
  color: #408ed1;
  font-size: 24px;
  font-family: 'Raleway';
  font-weight: 800;
  padding-left: 10%;
  padding-top: 7%;
}
.ContentOFLatestNews {
  color: grey;
  font-size: 16px;
  padding-left: 10%;
}

.ReadMoreBtn {
  font-size: 15px;
  color: #408ed1;
  font-weight: bold !important;
  font-family: 'Raleway';
}
.ReadMoreBtn:hover {
  background-color: #D5DFD2;
}
.btn-Align {
  text-align: right;
  padding-right: 10%;
  margin-top: -3%;
  padding-bottom: 3%;
}
.divBeside {
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.mobileImage
{
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;
}


.text-muted {
  margin-left: 30%;
  width: 40%;
}



.EveryTitle {
  font-weight: 900 !important;
  font-family: 'Raleway';
  color: #408ed1;
  font-size: 22px;
}
.EveryContent {
  font-family: century-gothic, sans-serif;
  font-size: 16px;
  color:grey;
}
.card
{
    border-radius:12px;
}
.imgNews {
  border-top-left-radius: 12px;
  border-top-right-radius:12px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ourNews {
    position: absolute;
    top: 2%;
    left: 10%;
  }
  .ContentNews
  {
      display:none;
  }
  .container-fluid.img-fluid
  {
      width:150% !important;
  }
  .imgHeader {
    max-width: 175% !important;
  }
  .TitleOFLatestNews {
    font-size: 9px;
    padding-top: 6%;
  }
  .ContentOFLatestNews {
    font-size: 7px;
    margin-top: -12px;
    padding-left:7%;
  }
  .col-6 {
    max-width: 42% !important;
    box-shadow: 0 1px 7px 1px grey;
  }

  .mobileImagejfif {
    width: 100%;
    height: 160px;
  }
  .text-center {
    margin-top: 28%;
  }
  .text-muted
  {
      margin:0px;
      width:100%;
  }

  .btn-Align
  {
      margin:0px !important;
      padding:0px !important;
      margin-right:5% !important;
      padding-bottom:5% !important;
  }
  .mobileImage {
    border-top-left-radius: 10px !important;
  }

  .ReadMoreBtn {
    background-color: #565151;
    border-radius: 12px;
    font-size: 7px;
    color:white;
  }
  .col-sm-12
  {
      padding-left:7px !important;
  }
  .TitleNews {
    padding-left:21%;
  }
  .EveryTitle
  {
      width:110%;
      font-size:18px;
      font-weight:bold !important;
  }
  .latestNewsText {
    font-family: 'Raleway';
    color: #408ed1;
    font-weight: 800;
    font-weight: 800;
    font-size: 1.6rem;
  }
 
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


  .ourNews {
    position: absolute;
    top: 8%;
    left: 10%;
  }
  .secondDivOfLatestNews {
    box-shadow: 0 1px 7px 1px grey;
    animation: secondDivOfLatestNewsAnimation 1.2s;
  }
  @keyframes secondDivOfLatestNewsAnimation {
    0% {
      transform: translateX(111%);
    }

    100% {
      transform: translateX(0);
    }
  }
  .mobileImagejfif {
    width: 100%;
    height: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .secondDivOfLatestNews {
    border-radius: 12px;
    box-shadow: 0 1px 7px 1px grey;
    animation: secondDivOfLatestNewsAnimation 1.2s;
  }

  @keyframes secondDivOfLatestNewsAnimation {
    0% {
      transform: translateX(111%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .newsDiv {
    animation: newsDivAnimation 1.2s;
  }

  @keyframes newsDivAnimation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  .ourNews {
    position: absolute;
    top: 8%;
    left: 10%;
  }
  .imgHeader {
    max-width: 100%;
    height: auto;
  }
  .mobileImagejfif {
    max-width: 100%;
    height: 100%;
  }
  .latestNewsText {
    font-family: 'Raleway';
    color: #408ed1;
    font-weight: 800;
    font-size:2.25rem;
  }
  .secondDivOfLatestNews {
    border-bottom-right-radius: 12px;
  }
 
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .ContentNews {
    display: none;
  }
  .ourNews {
    position: absolute;
    top: 2%;
    left: 10%;
  }
  .TitleNews {
    padding-left: 35%;
  }
  .text-center {
    margin-top: 29%;
  }
  .latestNewsText {
    font-size: 3.3rem;
    font-family: 'Raleway';
    color: #408ed1;
    font-weight: 800;
  }
  .EveryTitle {
    width: 105%;
    font-size:17px;
  }
  .row {
    width: 96%;
  }
  .mobileImagejfif {
      width:100%;
   height: 324px;
  }
  .text-muted {
    margin-left: 25%;
    width: 51%;
  }
  .secondDivOfLatestNews {
  border-bottom-right-radius:12px;

  }
  .ReadMoreBtn {
    background-color: #565151;
    border-radius: 12px;
    font-size: 11px;
    color: white;
  }
}
