<div  class="container-fluid">
  <img src="../../../assets/img/mobbg.png" class="imgHeader img-fluid" alt="Responsive image">
  <div class="ourNews container">
    <div class="row">
      <div class="newsDiv col-lg-4 col-sm-12">
        <h3 class="TitleNews"> Our News</h3>
        <p class="ContentNews">
          Here you can find all of our
          important steps with our partners
          and clients towards our goals.
        </p>
      </div>
      <div  class="col-lg-8">
        <div class="secondDivOfLatestNews row">
          <div class="col-lg-6 col-6">
            <img src="../../../assets/img/mobileImage.jfif" class="mobileImage mobileImagejfif" alt="Responsive image">

          </div>
          <div  class="col-lg-6 col-6 divBeside">
            <p class="TitleOFLatestNews">
              We Are the Best Accounting
              Agency.
            </p>
            <p class="ContentOFLatestNews">
              Far far away, behind the word mountains,
              far from the countries Vokalia and
              Consonantia, there live the blind texts.
              Separated they live in Bookmarksgrove right
              at the coast of the Semantics, a large
              language ocean.

              A small river named Duden flows by th
              eir place and supplies it with the necessary.
            </p>
            <div class="btn-Align">
              <button type="button" class="ReadMoreBtn btn">Read More</button>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>

    <div  class="text-center">
      <div class="container">
        <h1 class="latestNewsText" >Latest News</h1>
        <p class="lead text-muted">
          Be aware of what happiness in our market and
          don't miss our latest updates.
        </p>
       
      </div>
    </div>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="./assets/img/mobileImage.jfif" class="imgNews img-fluid" alt="Responsive image">

              <div class="card-body">
                <p class="card-text  EveryTitle">
                  We Are the Best Accounting Agency.
                </p>
                <p class="card-text EveryContent">
                  Far far away, behind the word mountains,
                  far from the countries Vokalia and
                  Consonantia, there live the blind texts.
                  Separated they live in Bookmarksgrove right
                  at the coast of the Semantics, a large
                  language ocean.

                </p>
              </div>
              <div class="btn-Align">
                <button type="button" class="ReadMoreBtn btn">Read More</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="./assets/img/mobileImage.jfif" class=" imgNews img-fluid" alt="Responsive image">

              <div class="card-body">
                <p class="card-text  EveryTitle">
                  We Are the Best Accounting Agency.
                </p>
                <p class="card-text EveryContent">
                  Far far away, behind the word mountains,
                  far from the countries Vokalia and
                  Consonantia, there live the blind texts.
                  Separated they live in Bookmarksgrove right
                  at the coast of the Semantics, a large
                  language ocean.

                </p>
              </div>
              <div class="btn-Align">
                <button type="button" class="ReadMoreBtn btn">Read More</button>
              </div>
            </div>
          </div><div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <img src="./assets/img/mobileImage.jfif" class="imgNews img-fluid" alt="Responsive image">

    <div class="card-body">
      <p class="card-text  EveryTitle">
        We Are the Best Accounting Agency.
      </p>
      <p class="card-text EveryContent">
        Far far away, behind the word mountains,
        far from the countries Vokalia and
        Consonantia, there live the blind texts.
        Separated they live in Bookmarksgrove right
        at the coast of the Semantics, a large
        language ocean.

      </p>
    </div>
    <div class="btn-Align">
      <button type="button" class="ReadMoreBtn btn">Read More</button>
    </div>
  </div>
</div><div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <img src="./assets/img/mobileImage.jfif" class="imgNews img-fluid" alt="Responsive image">

    <div class="card-body">
      <p class="card-text  EveryTitle">
        We Are the Best Accounting Agency.
      </p>
      <p class="card-text EveryContent">
        Far far away, behind the word mountains,
        far from the countries Vokalia and
        Consonantia, there live the blind texts.
        Separated they live in Bookmarksgrove right
        at the coast of the Semantics, a large
        language ocean.

      </p>
    </div>
    <div class="btn-Align">
      <button type="button" class="ReadMoreBtn btn">Read More</button>
    </div>
  </div>
</div><div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <img src="./assets/img/mobileImage.jfif" class="imgNews imgNews img-fluid" alt="Responsive image">

    <div class="card-body">
      <p class="card-text  EveryTitle">
        We Are the Best Accounting Agency.
      </p>
      <p class="card-text EveryContent">
        Far far away, behind the word mountains,
        far from the countries Vokalia and
        Consonantia, there live the blind texts.
        Separated they live in Bookmarksgrove right
        at the coast of the Semantics, a large
        language ocean.

      </p>
    </div>
    <div class="btn-Align">
      <button type="button" class="ReadMoreBtn btn">Read More</button>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>

  </div>



