

<main>

  <section id="bg" class="pb-5">

    <div id="content">
      <h1>Website Platform</h1>
      <p>
        Far far away, behind the word
        mountains, far from the countries
        Vokalia and Consonantia, there
        live the blind.
      </p>
    </div>
    <img data-aos="fade-left" data-aos-duration="1000" class="img-fluid" src="./assets/img/lap2.png" />
  </section>

  <section class="px-lg-5 p-3" id="desc">
    <h1>
      Website Platform
    </h1>
    <p>
      The website will provide gifts to the user, as anything you can search for you can find, simply the world is between your hands.
      About the E-commerce website, It is a system that refers to the buying and selling of goods or services using the internet. Moreover, the transfer of money and data to execute these transactions on this platform. Also, it is used for B2B, B2C, and B2G services.

    </p>
  </section>
  <section id="benefits" class="px-lg-5 p-2">
    <h1 class="text-center text-lg-left">Benefits & Features</h1>
    <div class="row px-lg-5 px-0">
      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>

          <h2>Be visible to the world</h2>
          <p>
            Your business will stop being invisible.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>More sales</h2>
          <p>
            The website will create another sales tool.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>accessibility</h2>
          <p>
            be available for your customers and give them 24/7 access.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Reach more clients</h2>
          <p>
            Expand and increase the reaching and targeted potential clients.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Smart view of your products</h2>
          <p>
            Provide Sufficient analysis for the customers as a list of prices and product details and features.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">


          <div class="benefit-img"></div>

          <h2>Cut your costs</h2>
          <p>
            Reduce operation expenses for storing physical material with high cost, to an online solution that cuts cost.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-center benefit  py-4">
        <div class="benefit-inner">

          <div class="benefit-img"></div>
          <h2>More Analysis</h2>
          <p>
            Analyze the geographic products data and other competitor’s status through a detailed market scan.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
